desenvolvimento/nodered/backend/flows.json
[
    {
        "id": "8813ec2835daae18",
        "type": "tab",
        "label": "Get Sensors Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f5557aca01f4737",
        "type": "tab",
        "label": "/devices/measures",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a674aaa9e667dd6",
        "type": "tab",
        "label": "/devices/info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e27b09cd4ecd866a",
        "type": "tab",
        "label": "/devices/actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bfe80d199363eac",
        "type": "tab",
        "label": "Historic table",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bab6ffe5b7ae3a28",
        "type": "subflow",
        "name": "Database",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "2dc46f9c24f9eb35"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 100,
                "wires": [
                    {
                        "id": "dcf9a148a61be9fc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "df4bdf4be0d4150f",
        "type": "mqtt-broker",
        "name": "MQTT Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "21c629e3be9268f3",
        "type": "mydbConfig",
        "name": "postgres@db:5432/PGC",
        "host": "db",
        "port": "5432",
        "database": "PGC",
        "ssl": false,
        "rejectUnauthorized": false,
        "ca": "",
        "key": "",
        "cert": "",
        "max": "10",
        "min": "1",
        "idle": "1000"
    },
    {
        "id": "2dc46f9c24f9eb35",
        "type": "function",
        "z": "bab6ffe5b7ae3a28",
        "name": "Set Query",
        "func": "msg.query = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "bb3a8d2b7854dccb"
            ]
        ]
    },
    {
        "id": "dcf9a148a61be9fc",
        "type": "function",
        "z": "bab6ffe5b7ae3a28",
        "name": "Get Query Response",
        "func": "const query_response = msg.payload.rows;\n\ndelete msg.query;\n\nmsg.payload = query_response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bb3a8d2b7854dccb",
        "type": "mydb",
        "z": "bab6ffe5b7ae3a28",
        "name": "Execute Query",
        "style": "mustache",
        "substEnvVars": false,
        "query": "{{{ msg.query }}};",
        "mydbConfig": "21c629e3be9268f3",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "dcf9a148a61be9fc"
            ]
        ]
    },
    {
        "id": "8b614dd0c4e7ecd6",
        "type": "mqtt in",
        "z": "8813ec2835daae18",
        "name": "Sensors Output",
        "topic": "pgc_ufabc/devices/measures",
        "qos": "0",
        "datatype": "json",
        "broker": "df4bdf4be0d4150f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 137,
        "wires": [
            [
                "187acea3920b5c2c"
            ]
        ]
    },
    {
        "id": "80a46d82ca4455ee",
        "type": "catch",
        "z": "8813ec2835daae18",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 101,
        "y": 536,
        "wires": [
            [
                "4fed0b38fbbe8ae3"
            ]
        ]
    },
    {
        "id": "27e7cc799e913f9c",
        "type": "comment",
        "z": "8813ec2835daae18",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 180,
        "y": 475,
        "wires": []
    },
    {
        "id": "4fed0b38fbbe8ae3",
        "type": "debug",
        "z": "8813ec2835daae18",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 251,
        "y": 536,
        "wires": []
    },
    {
        "id": "187acea3920b5c2c",
        "type": "function",
        "z": "8813ec2835daae18",
        "name": "Parse output",
        "func": "msg.sensor_output = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 137,
        "wires": [
            [
                "42c1b1a281ba72f5"
            ]
        ]
    },
    {
        "id": "d5ce424ec67d4654",
        "type": "comment",
        "z": "8813ec2835daae18",
        "name": "########## Store sensors data",
        "info": "",
        "x": 170,
        "y": 255,
        "wires": []
    },
    {
        "id": "4f84135b11c27312",
        "type": "link out",
        "z": "8813ec2835daae18",
        "name": "OUT (1) Receive sensors data",
        "links": [
            "88a5b57865658712"
        ],
        "x": 975,
        "y": 115,
        "wires": []
    },
    {
        "id": "88a5b57865658712",
        "type": "link in",
        "z": "8813ec2835daae18",
        "name": "IN (1) Store sensors data",
        "links": [
            "4f84135b11c27312"
        ],
        "x": 55,
        "y": 315,
        "wires": [
            [
                "96803667e593d0dc"
            ]
        ]
    },
    {
        "id": "96803667e593d0dc",
        "type": "function",
        "z": "8813ec2835daae18",
        "name": "Set query",
        "func": "const sensor_output = msg.sensor_output;\n\nmsg.payload = `INSERT \n               INTO SENSORS_DATA_REAL_TIME (DEVICE_ID, VOLTAGE, CURRENT, LIGHTNESS, RELE_STATE) \n               VALUES (${sensor_output.device_id}, ${sensor_output.voltage}, ${sensor_output.current}, ${sensor_output.lightness}, '${sensor_output.rele_state}')`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 315,
        "wires": [
            [
                "fea15522f7bc9730"
            ]
        ]
    },
    {
        "id": "fea15522f7bc9730",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "8813ec2835daae18",
        "name": "",
        "env": [],
        "x": 300,
        "y": 315,
        "wires": [
            [
                "8885c9540ad9bf99"
            ]
        ]
    },
    {
        "id": "8885c9540ad9bf99",
        "type": "debug",
        "z": "8813ec2835daae18",
        "name": "[EXIT] Store sensors data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 315,
        "wires": []
    },
    {
        "id": "6c14b6de93cba404",
        "type": "comment",
        "z": "8813ec2835daae18",
        "name": "########## Receive sensors data",
        "info": "",
        "x": 180,
        "y": 55,
        "wires": []
    },
    {
        "id": "4ac549b1969b0168",
        "type": "catch",
        "z": "7f5557aca01f4737",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 776,
        "wires": [
            [
                "a961e1ec20451721"
            ]
        ]
    },
    {
        "id": "fca56cd6fe289503",
        "type": "comment",
        "z": "7f5557aca01f4737",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 180,
        "y": 715,
        "wires": []
    },
    {
        "id": "1705d89c23ac2369",
        "type": "debug",
        "z": "7f5557aca01f4737",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 776,
        "wires": []
    },
    {
        "id": "ad7a04302aa7d2a5",
        "type": "inject",
        "z": "7bfe80d199363eac",
        "name": "[TRIGGER] Execute every 1 hour",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "0 0-23 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 205,
        "y": 115,
        "wires": [
            [
                "321102acad131081"
            ]
        ]
    },
    {
        "id": "c1d56661b93bc251",
        "type": "comment",
        "z": "7bfe80d199363eac",
        "name": "########## Merge dataset of last 1 hour",
        "info": "",
        "x": 200,
        "y": 56,
        "wires": []
    },
    {
        "id": "65af7ad57593057d",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7bfe80d199363eac",
        "name": "",
        "x": 1180,
        "y": 115,
        "wires": [
            [
                "b5f99fa633c93197"
            ]
        ]
    },
    {
        "id": "9563eb3f5af48c81",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Get active devices",
        "func": "msg.payload = `SELECT ID FROM DEVICES WHERE STATUS = '1'`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 196,
        "wires": [
            [
                "5591169f8bdc17c3"
            ]
        ]
    },
    {
        "id": "595d6b6ee38f20b2",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Delete sensors data from more than a hour",
        "func": "const timestamp = msg.timestamp;\n\nconst date = new Date(timestamp);\ndate.setSeconds(0);\ndate.setMilliseconds(0);\n\nconst year = date.getFullYear();\nconst mon  = `0${date.getMonth()+1}`.slice(-2);\nconst day  = `0${date.getDate()}`.slice(-2);\nconst hour = `0${date.getHours()}`.slice(-2);\nconst min  = `0${date.getMinutes()}`.slice(-2);\nconst sec  = `0${date.getSeconds()}`.slice(-2);\n\nconst format_date = `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n\nmsg.payload = `DELETE\n               FROM SENSORS_DATA_REAL_TIME\n               WHERE (INSERTION_TIME AT TIME ZONE 'CST') < (TO_TIMESTAMP('${format_date}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST') - INTERVAL '1 hour'`;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 115,
        "wires": [
            [
                "65af7ad57593057d"
            ]
        ]
    },
    {
        "id": "b5f99fa633c93197",
        "type": "link out",
        "z": "7bfe80d199363eac",
        "name": "OUT (1) Merge dataset of last 1 hour",
        "links": [
            "332a597c5d4b37eb"
        ],
        "x": 1275,
        "y": 115,
        "wires": []
    },
    {
        "id": "332a597c5d4b37eb",
        "type": "link in",
        "z": "7bfe80d199363eac",
        "name": "IN (1) Merge dataset of last 1 hour",
        "links": [
            "b5f99fa633c93197"
        ],
        "x": 55,
        "y": 196,
        "wires": [
            [
                "9563eb3f5af48c81"
            ]
        ]
    },
    {
        "id": "5591169f8bdc17c3",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7bfe80d199363eac",
        "name": "",
        "x": 360,
        "y": 196,
        "wires": [
            [
                "beecc4814c6aae9f"
            ]
        ]
    },
    {
        "id": "beecc4814c6aae9f",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Get devices id",
        "func": "const active_devices = msg.payload;\n\nconst devices_id = active_devices.map(row => row.id);\n\nmsg.payload = devices_id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 196,
        "wires": [
            [
                "ed99fca3c09600af"
            ]
        ]
    },
    {
        "id": "ed99fca3c09600af",
        "type": "split",
        "z": "7bfe80d199363eac",
        "name": "Split devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 196,
        "wires": [
            [
                "693d574d15cb8f85"
            ]
        ]
    },
    {
        "id": "eac004593bcd4e52",
        "type": "catch",
        "z": "7bfe80d199363eac",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 616,
        "wires": [
            [
                "2917f36263955a9a"
            ]
        ]
    },
    {
        "id": "9371aee991e4b665",
        "type": "comment",
        "z": "7bfe80d199363eac",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 179,
        "y": 555,
        "wires": []
    },
    {
        "id": "2917f36263955a9a",
        "type": "debug",
        "z": "7bfe80d199363eac",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 616,
        "wires": []
    },
    {
        "id": "693d574d15cb8f85",
        "type": "link out",
        "z": "7bfe80d199363eac",
        "name": "OUT (2) Merge dataset of last 1 hour",
        "links": [
            "8d1428957fa20719"
        ],
        "x": 795,
        "y": 196,
        "wires": []
    },
    {
        "id": "8d1428957fa20719",
        "type": "link in",
        "z": "7bfe80d199363eac",
        "name": "IN (2) Merge dataset of last 1 hour",
        "links": [
            "693d574d15cb8f85"
        ],
        "x": 55,
        "y": 295,
        "wires": [
            [
                "0f771eab714c377a"
            ]
        ]
    },
    {
        "id": "0f771eab714c377a",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Get sensors data from last 1 hour",
        "func": "function format_date(timestamp) {\n    const year = timestamp.getFullYear();\n    const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n    const day  = `0${timestamp.getDate()}`.slice(-2);\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    const sec  = `0${timestamp.getSeconds()}`.slice(-2);\n    \n    return `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n}\n\nconst device_id = msg.payload;\nconst timestamp = msg.timestamp;\n\nconst date = new Date(timestamp);\ndate.setSeconds(0);\ndate.setMilliseconds(0);\n\nconst end = format_date(date);\n\ndate.setMinutes(date.getMinutes()-60);\n\nconst begin = format_date(date);\n\nmsg.payload = `SELECT VOLTAGE, CURRENT, LIGHTNESS, RELE_STATE, INSERTION_TIME\n               FROM SENSORS_DATA_REAL_TIME\n               WHERE DEVICE_ID = ${device_id}\n               AND (INSERTION_TIME AT TIME ZONE 'CST') >= (TO_TIMESTAMP('${begin}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST')\n               AND (INSERTION_TIME AT TIME ZONE 'CST') < (TO_TIMESTAMP('${end}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST')\n               ORDER BY INSERTION_TIME`;\n               \nmsg.device_id = device_id;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 295,
        "wires": [
            [
                "03af6adb8219152a"
            ]
        ]
    },
    {
        "id": "03af6adb8219152a",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7bfe80d199363eac",
        "name": "",
        "x": 460,
        "y": 295,
        "wires": [
            [
                "bc47812a82cb85c3"
            ]
        ]
    },
    {
        "id": "6c62112a5cd8d179",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Calculate powers",
        "func": "let dataset = msg.payload;\n\ndataset = dataset.map(data => {\n    data.power = Math.round(data.voltage * data.current);\n    return data;\n});\n\nmsg.payload = dataset;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 276,
        "wires": [
            [
                "78cd9ac0cd2c0ec3"
            ]
        ]
    },
    {
        "id": "78cd9ac0cd2c0ec3",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Calculate max, min and avg",
        "func": "const dataset = msg.payload;\n\n// Functions\nconst min = dataset => Math.min(...dataset);\nconst max = dataset => Math.max(...dataset);\nconst avg = dataset => (dataset.reduce((acc, cur) => acc + cur, 0) / dataset.length);\n\n// Get data from a specific measure\nconst voltages  = dataset.map(data => data.voltage);\nconst currents  = dataset.map(data => data.current); \nconst lightness = dataset.map(data => data.lightness);\nconst powers    = dataset.map(data => data.power);\n\nconst results = {\n    voltage:   { min: min(voltages),  max: max(voltages),  avg: Math.round(avg(voltages))            },\n    current:   { min: min(currents),  max: max(currents),  avg: parseFloat(avg(currents).toFixed(2)) },\n    lightness: { min: min(lightness), max: max(lightness), avg: Math.round(avg(lightness))           },\n    power:     { min: min(powers),    max: max(powers),    avg: Math.round(avg(powers))              }\n}\n\nmsg.dataset = dataset;\nmsg.results = results;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 276,
        "wires": [
            [
                "a6f8cbe1cf99fbb7"
            ]
        ]
    },
    {
        "id": "bc47812a82cb85c3",
        "type": "switch",
        "z": "7bfe80d199363eac",
        "name": "Found data?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 295,
        "wires": [
            [
                "6c62112a5cd8d179"
            ],
            [
                "8d3e52ed971b346e"
            ]
        ]
    },
    {
        "id": "a6f8cbe1cf99fbb7",
        "type": "link out",
        "z": "7bfe80d199363eac",
        "name": "OUT (3) Merge dataset of last 1 hour",
        "links": [
            "3648289a20e9cc5d"
        ],
        "x": 1195,
        "y": 276,
        "wires": []
    },
    {
        "id": "3648289a20e9cc5d",
        "type": "link in",
        "z": "7bfe80d199363eac",
        "name": "IN (3) Merge dataset of last 1 hour",
        "links": [
            "a6f8cbe1cf99fbb7"
        ],
        "x": 55,
        "y": 396,
        "wires": [
            [
                "2233a99dd3d33b7e"
            ]
        ]
    },
    {
        "id": "acbdd010515a12d1",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Insert results in database",
        "func": "function format_date(timestamp) {\n    const year = timestamp.getFullYear();\n    const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n    const day  = `0${timestamp.getDate()}`.slice(-2);\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    const sec  = `0${timestamp.getSeconds()}`.slice(-2);\n    \n    return `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n}\n\nconst device_id = msg.device_id;\nconst results   = msg.results;\nconst dataset   = msg.dataset;\nconst timestamp = msg.timestamp;\n\nconst date = new Date(timestamp);\ndate.setSeconds(0);\ndate.setMilliseconds(0);\n\nconst insertion_time = format_date(date);\n\nconst voltage   = results.voltage;\nconst current   = results.current;\nconst lightness = results.lightness;\nconst power     = results.power;\n\nmsg.payload = `INSERT\n               INTO SENSORS_DATA_INTERVAL\n               (DEVICE_ID, VOLTAGE_MIN, VOLTAGE_MAX, VOLTAGE_AVG, CURRENT_MIN, CURRENT_MAX, CURRENT_AVG, LIGHTNESS_MIN, LIGHTNESS_MAX, LIGHTNESS_AVG, POWER_MIN, POWER_MAX, POWER_AVG, POWER_EXPEND, INSERTION_TIME, NUM_REGISTRIES)\n               VALUES\n               (${device_id}, ${voltage.min}, ${voltage.max}, ${voltage.avg}, ${current.min}, ${current.max}, ${current.avg}, ${lightness.min}, ${lightness.max}, ${lightness.avg}, ${power.min}, ${power.max}, ${power.avg}, ${results.power_expend}, '${insertion_time}', ${dataset.length})`;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 396,
        "wires": [
            [
                "a7f85d37f23ca51c",
                "0e031983ba29c66c"
            ]
        ]
    },
    {
        "id": "a7f85d37f23ca51c",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7bfe80d199363eac",
        "name": "",
        "x": 641,
        "y": 396,
        "wires": [
            []
        ]
    },
    {
        "id": "0e031983ba29c66c",
        "type": "debug",
        "z": "7bfe80d199363eac",
        "name": "[EXIT 2] Merge dataset of last 1 hour",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 396,
        "wires": []
    },
    {
        "id": "2233a99dd3d33b7e",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Calculate power expend",
        "func": "const dataset = msg.dataset;\n\nlet sum = 0;\n\nlet i, j;\n\nfor (i = 0; i < dataset.length; i++) {\n    if (dataset[i].rele_state === true) {\n        for (j = i+1; j < dataset.length && dataset[j].rele_state === true; j++);\n\n        const interval = dataset.slice(i, j);\n        \n        const begin = new Date(interval[0].insertion_time);\n        const final = new Date(interval[interval.length-1].insertion_time);\n        \n        const time_diff = (final-begin)/(1000*60*60); // milliseconds * seconds * minutes\n        \n        const voltage_avg = interval.reduce((acc, cur) => acc + cur.voltage, 0) / interval.length;\n        const current_avg = interval.reduce((acc, cur) => acc + cur.current, 0) / interval.length;\n        \n        sum += (((voltage_avg * current_avg) / 1000) * time_diff);\n        \n        i = j-1;\n    }\n}\n\nmsg.results.power_expend = parseFloat(sum.toFixed(2)); // in kW/h\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 396,
        "wires": [
            [
                "acbdd010515a12d1"
            ]
        ]
    },
    {
        "id": "1c9633d021328e7c",
        "type": "http in",
        "z": "7f5557aca01f4737",
        "name": "",
        "url": "/devices/measures/interval",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 171,
        "y": 335,
        "wires": [
            [
                "96bdf6630c129c17"
            ]
        ]
    },
    {
        "id": "ddca169b2eed6b38",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Set query",
        "func": "// Get data from last 24 hours or week\n\nfunction format_date (timestamp) {\n    const year = timestamp.getFullYear();\n    const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n    const day  = `0${timestamp.getDate()}`.slice(-2);\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    const sec  = `0${timestamp.getSeconds()}`.slice(-2);\n    \n    return `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n}\n\nconst threshold   = msg.threshold;\nconst interval    = msg.interval;\nconst device_name = msg.device_name;\n\nconst end   = format_date(threshold);\nconst begin = format_date(new Date(threshold - 1000 * 60 * interval));\n\nmsg.payload = `SELECT SDI.VOLTAGE_MIN, SDI.VOLTAGE_MAX, SDI.VOLTAGE_AVG, SDI.CURRENT_MIN, SDI.CURRENT_MAX, SDI.CURRENT_AVG, SDI.LIGHTNESS_MIN, SDI.LIGHTNESS_MAX, SDI.LIGHTNESS_AVG, SDI.POWER_MIN, SDI.POWER_MAX, SDI.POWER_AVG, SDI.POWER_EXPEND, SDI.NUM_REGISTRIES, SDI.INSERTION_TIME\n               FROM SENSORS_DATA_INTERVAL AS SDI \n               JOIN DEVICES AS D ON SDI.DEVICE_ID = D.ID \n               WHERE D.NAME = '${device_name}'\n               AND (SDI.INSERTION_TIME AT TIME ZONE 'CST') > (TO_TIMESTAMP('${begin}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST') \n               AND (SDI.INSERTION_TIME AT TIME ZONE 'CST') <= (TO_TIMESTAMP('${end}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST')\n               ORDER BY SDI.INSERTION_TIME`;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 314,
        "wires": [
            [
                "6ec488a047717083"
            ]
        ]
    },
    {
        "id": "47e86d41591c2ef2",
        "type": "http response",
        "z": "7f5557aca01f4737",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 555,
        "wires": []
    },
    {
        "id": "6ec488a047717083",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7f5557aca01f4737",
        "name": "",
        "x": 1180,
        "y": 314,
        "wires": [
            [
                "7cdff54cf4f12948"
            ]
        ]
    },
    {
        "id": "dc71772a94af1a6d",
        "type": "debug",
        "z": "7f5557aca01f4737",
        "name": "[EXIT] Get measures of a device in a specific interval",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 555,
        "wires": []
    },
    {
        "id": "1a6d28956a0d6589",
        "type": "switch",
        "z": "7f5557aca01f4737",
        "name": "What's the interval?",
        "property": "interval",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "44640",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 830,
        "y": 314,
        "wires": [
            [
                "57ce85e61299af4e"
            ],
            [
                "ddca169b2eed6b38"
            ],
            [
                "9e05e185a3257074"
            ]
        ]
    },
    {
        "id": "57ce85e61299af4e",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Set query",
        "func": "// Get data from last hour\n\nfunction format_date (timestamp) {\n    const year = timestamp.getFullYear();\n    const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n    const day  = `0${timestamp.getDate()}`.slice(-2);\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    const sec  = `0${timestamp.getSeconds()}`.slice(-2);\n    \n    return `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n}\n\nconst threshold   = msg.threshold;\nconst interval    = msg.interval;\nconst device_name = msg.device_name;\n\nconst end   = format_date(threshold);\nconst begin = format_date(new Date(threshold - 1000 * 60 * interval));\n\nmsg.payload = `SELECT SDRT.VOLTAGE, SDRT.CURRENT, SDRT.LIGHTNESS, SDRT.RELE_STATE, SDRT.INSERTION_TIME\n               FROM SENSORS_DATA_REAL_TIME AS SDRT \n               JOIN DEVICES AS D ON SDRT.DEVICE_ID = D.ID \n               WHERE D.NAME = '${device_name}'\n               AND (SDRT.INSERTION_TIME AT TIME ZONE 'CST') >= (TO_TIMESTAMP('${begin}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST') \n               AND (SDRT.INSERTION_TIME AT TIME ZONE 'CST') < (TO_TIMESTAMP('${end}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST')\n               ORDER BY SDRT.INSERTION_TIME`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 276,
        "wires": [
            [
                "6ec488a047717083"
            ]
        ]
    },
    {
        "id": "1bb825e2928759bb",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Calculate powers",
        "func": "let dataset = msg.payload;\n\ndataset = dataset.map(data => {\n    data.power = Math.round(data.voltage * data.current);\n    return data;\n});\n\nmsg.payload = dataset;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 435,
        "wires": [
            [
                "97320d78a0801902"
            ]
        ]
    },
    {
        "id": "f37dd2752270a5c8",
        "type": "switch",
        "z": "7f5557aca01f4737",
        "name": "What's the interval?",
        "property": "interval",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 457,
        "wires": [
            [
                "1bb825e2928759bb"
            ],
            [
                "6cf164c9f164c150"
            ]
        ]
    },
    {
        "id": "2d413cccf4985d24",
        "type": "link in",
        "z": "7f5557aca01f4737",
        "name": "IN (1) Get measures of a device in a specific interval",
        "links": [
            "7cdff54cf4f12948"
        ],
        "x": 55,
        "y": 457,
        "wires": [
            [
                "f37dd2752270a5c8"
            ]
        ]
    },
    {
        "id": "7cdff54cf4f12948",
        "type": "link out",
        "z": "7f5557aca01f4737",
        "name": "OUT (1) Get measures of a device in a specific interval",
        "links": [
            "2d413cccf4985d24"
        ],
        "x": 1275,
        "y": 314,
        "wires": []
    },
    {
        "id": "d998e00625e40a86",
        "type": "link out",
        "z": "7f5557aca01f4737",
        "name": "OUT (3) Get measures of a device in a specific interval",
        "links": [
            "6383f89379246b18"
        ],
        "x": 715,
        "y": 478,
        "wires": []
    },
    {
        "id": "6b6db413a491a12d",
        "type": "link out",
        "z": "7f5557aca01f4737",
        "name": "OUT (2) Get measures of a device in a specific interval",
        "links": [
            "6383f89379246b18"
        ],
        "x": 695,
        "y": 435,
        "wires": []
    },
    {
        "id": "6383f89379246b18",
        "type": "link in",
        "z": "7f5557aca01f4737",
        "name": "IN (2) Get measures of a device in a specific interval",
        "links": [
            "6b6db413a491a12d",
            "d998e00625e40a86"
        ],
        "x": 55,
        "y": 555,
        "wires": [
            [
                "5f90a25a42bb5326"
            ]
        ]
    },
    {
        "id": "97320d78a0801902",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Group data",
        "func": "const dataset   = msg.payload;\nconst threshold = msg.threshold;\nconst n_groups  = msg.interval;\nconst hop       = 1000 * 60;\n\n// Create groups\n\nlet i;\nlet groups = [];\n\nfor (i = n_groups; i > 0; i--) {\n    const timestamp = new Date(threshold - hop * i);\n    const measures  = [];\n    \n    groups.push({ timestamp, measures, records: 0 });\n}\n\n// Group data\n\ni = 1;\n\ndataset.forEach(data => {\n    const timestamp = new Date(data.insertion_time);\n    \n    for (i; i < groups.length && timestamp >= groups[i].timestamp; i++);\n\n    groups[i-1].measures.push(data);\n    groups[i-1].records++;\n});\n\n// Sum measures\n\nconst avg = dataset => (dataset.reduce((acc, cur) => acc + cur, 0) / dataset.length) || 0;\n\ngroups = groups.map(group => {\n    const voltage   = group.measures.map(data => data.voltage);\n    const current   = group.measures.map(data => data.current);\n    const lightness = group.measures.map(data => data.lightness);\n    const powers    = group.measures.map(data => data.power);\n    \n    const voltage_avg   = Math.round(avg(voltage));\n    const current_avg   = parseFloat((avg(current)).toFixed(2));\n    const lightness_avg = Math.round(avg(lightness));\n    const powers_avg    = Math.round(avg(powers));\n    \n    group.measures = {\n        voltage:   voltage_avg,\n        current:   current_avg,\n        lightness: lightness_avg,\n        power:     powers_avg\n    }\n    \n    return group;\n});\n\nmsg.dataset = groups;\nmsg.hop     = hop;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 435,
        "wires": [
            [
                "6b6db413a491a12d"
            ]
        ]
    },
    {
        "id": "7287a934bad43292",
        "type": "http in",
        "z": "7f5557aca01f4737",
        "name": "",
        "url": "/devices/measures/last",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 115,
        "wires": [
            [
                "a59199192f78dcc7"
            ]
        ]
    },
    {
        "id": "659446935b848402",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Set query",
        "func": "const device_name = msg.device_name;\n\nmsg.payload = `SELECT SDRT.VOLTAGE, SDRT.CURRENT, SDRT.LIGHTNESS, SDRT.RELE_STATE\n               FROM SENSORS_DATA_REAL_TIME AS SDRT \n               JOIN DEVICES AS D ON SDRT.DEVICE_ID = D.ID\n               WHERE D.NAME = '${device_name}'\n               AND (SDRT.INSERTION_TIME AT TIME ZONE 'CST') > (CURRENT_TIMESTAMP AT TIME ZONE 'CST') - INTERVAL '1 min'\n               ORDER BY SDRT.INSERTION_TIME DESC\n               LIMIT 1;`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 115,
        "wires": [
            [
                "bc421cbbfbd8aa49"
            ]
        ]
    },
    {
        "id": "bc421cbbfbd8aa49",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "7f5557aca01f4737",
        "name": "",
        "env": [],
        "x": 700,
        "y": 115,
        "wires": [
            [
                "269b6f17aa90ca43"
            ]
        ]
    },
    {
        "id": "269b6f17aa90ca43",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Calculate power",
        "func": "let dataset = msg.payload;\n\nif (dataset.length > 0) {\n    dataset = dataset.map(data => {\n        // Calculate power\n        data.power = Math.round(data.voltage * data.current);\n        \n        // Convert rele_state\n        data.rele_state = data.rele_state ? 1 : 0;\n        \n        return data;\n    });\n    \n    msg.payload = dataset;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 115,
        "wires": [
            [
                "9853d4fc5f5b1ebf",
                "270828bcb3beacf1"
            ]
        ]
    },
    {
        "id": "270828bcb3beacf1",
        "type": "http response",
        "z": "7f5557aca01f4737",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 115,
        "wires": []
    },
    {
        "id": "9853d4fc5f5b1ebf",
        "type": "debug",
        "z": "7f5557aca01f4737",
        "name": "[EXIT] Get last measures of a device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 116,
        "wires": []
    },
    {
        "id": "96bdf6630c129c17",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Parse request body",
        "func": "msg.device_name = msg.payload.device_name;\nmsg.interval    = parseInt(msg.payload.interval); // in minutes\n\nconst allowed_intervals = [60, 1440, 10080, 44640];\n\nif (allowed_intervals.includes(msg.interval)) {\n    return [msg, null];\n}\n\nmsg.payload = 'Intervalo não permitido.';\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 335,
        "wires": [
            [
                "ddeb66f0f282da2c"
            ],
            [
                "4e293f940e64d152"
            ]
        ]
    },
    {
        "id": "ddeb66f0f282da2c",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Define thresholds",
        "func": "const interval = msg.interval;\n\nconst threshold = new Date();\nthreshold.setSeconds(0);\nthreshold.setMilliseconds(0);\n\nif (interval > 60) {\n    threshold.setMinutes(0);\n    \n    if (interval > 1440) {\n        const hour = threshold.getHours();\n        \n        if (hour > 18) { // Hour between 18:01 and 23:59\n            threshold.setHours(18);\n        } else if (hour > 6) { // Hour between 06:01 and 17:59\n            threshold.setHours(6);\n        } else if (hour < 6) { // Hour between 00:00 and 05:59\n            threshold.setDate(threshold.getDate()-1);\n            threshold.setHours(18);\n        }\n    }\n}\n\nmsg.threshold = threshold;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 314,
        "wires": [
            [
                "1a6d28956a0d6589"
            ]
        ]
    },
    {
        "id": "a59199192f78dcc7",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Parse request body",
        "func": "msg.device_name = msg.payload.device_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 115,
        "wires": [
            [
                "659446935b848402"
            ]
        ]
    },
    {
        "id": "8d3e52ed971b346e",
        "type": "debug",
        "z": "7bfe80d199363eac",
        "name": "[EXIT 1] Merge dataset of last 1 hour",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 316,
        "wires": []
    },
    {
        "id": "0b5d0e0c0b5c98b1",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Group data",
        "func": "const dataset   = msg.payload;\nconst threshold = msg.threshold;\nconst n_groups  = msg.n_groups;\nconst hop       = msg.hop;\nconst interval  = msg.interval;\n\n// Create groups\n\nlet i;\nlet groups = [];\n\nfor (i = n_groups; i > 0; i--) {\n    const timestamp = new Date(threshold - hop * i);\n    const measures  = [];\n    \n    groups.push({ timestamp, measures, records: 0 });\n}\n\n// Group data\n\ni = 1;\n\ndataset.forEach(data => {\n    const timestamp = new Date(data.insertion_time);\n    \n    for (i; i < groups.length && timestamp > groups[i].timestamp; i++);\n\n    groups[i-1].measures.push(data);\n    groups[i-1].records += data.num_registries;\n});\n\n// Sum values\n\nconst min = dataset => Math.min(...dataset) !==  Infinity ? Math.min(...dataset) : 0;\nconst max = dataset => Math.max(...dataset) !== -Infinity ? Math.max(...dataset) : 0;\nconst avg = dataset => (dataset.reduce((acc, cur) => acc + cur, 0) / dataset.length) || 0;\n\ngroups = groups.map(group => {\n    voltage_min   = min(group.measures.map(data => data.voltage_min));\n    voltage_max   = max(group.measures.map(data => data.voltage_max));\n    voltage_avg   = Math.round(avg(group.measures.map(data => data.voltage_avg)));\n    current_min   = min(group.measures.map(data => data.current_min)).toFixed(2);\n    current_max   = max(group.measures.map(data => data.current_max)).toFixed(2);\n    current_avg   = parseFloat((avg(group.measures.map(data => data.current_avg))).toFixed(2));\n    lightness_min = min(group.measures.map(data => data.lightness_min));\n    lightness_max = max(group.measures.map(data => data.lightness_max));\n    lightness_avg = Math.round(avg(group.measures.map(data => data.lightness_avg)));\n    power_min     = min(group.measures.map(data => data.power_min));\n    power_max     = max(group.measures.map(data => data.power_max));\n    power_avg     = Math.round(avg(group.measures.map(data => data.power_avg)));\n    power_expend  = group.measures.reduce((acc, cur) => acc + cur.power_expend, 0);\n    \n    group.measures = {\n        voltage_min,\n        voltage_max,\n        voltage_avg,\n        current_min,\n        current_max,\n        current_avg,\n        lightness_min,\n        lightness_max,\n        lightness_avg,\n        power_min,\n        power_max,\n        power_avg,\n        power_expend\n    }\n    \n    return group;\n});\n\nmsg.dataset = groups;\nmsg.hop     = hop;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 478,
        "wires": [
            [
                "d998e00625e40a86"
            ]
        ]
    },
    {
        "id": "5f90a25a42bb5326",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Create labels",
        "func": "function format_date(timestamp, interval) {\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    \n    if (interval === 60) {\n        return `${hour}:${min}`;\n    } else {\n        const day  = `0${timestamp.getDate()}`.slice(-2);\n        const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n        \n        return `${hour}:${min} ${day}/${mon}`;\n    }\n}\n\nconst interval = msg.interval;\nconst hop      = msg.hop;\n\nlet dataset = msg.dataset;\n\ndataset = dataset.map((data, i) => {\n    const timestamp = data.timestamp;\n    \n    const begin = format_date(timestamp, interval);\n    \n    if (interval === 60) {\n        data.label = `${begin} (Número de Registros: ${data.records})`;\n    } else {\n        timestamp.setTime(timestamp.getTime() + hop);\n        const final = format_date(timestamp, interval);\n        \n        data.label = `${begin} à ${final} (Número de Registros: ${data.records})`;\n    }\n    \n    delete data.timestamp;\n    \n    return data;\n});\n\nmsg.dataset = dataset;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 555,
        "wires": [
            [
                "3d4b27a94f96d759"
            ]
        ]
    },
    {
        "id": "3d4b27a94f96d759",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Prepare response",
        "func": "const dataset  = msg.dataset;\nconst interval = msg.interval;\n\nconst labels = dataset.map(data => data.label);\n\nlet values;\n\nif (interval === 60) {\n    values = {\n        voltage:   dataset.map(data => data.measures.voltage),\n        current:   dataset.map(data => data.measures.current),\n        lightness: dataset.map(data => data.measures.lightness),\n        power:     dataset.map(data => data.measures.power)\n    }\n} else {\n    values = {\n        voltage: {\n            min: dataset.map(data => data.measures.voltage_min),\n            max: dataset.map(data => data.measures.voltage_max),\n            avg: dataset.map(data => data.measures.voltage_avg)\n        },\n        current: {\n            min: dataset.map(data => data.measures.current_min),\n            max: dataset.map(data => data.measures.current_max),\n            avg: dataset.map(data => data.measures.current_avg)       \n        },\n        lightness: {\n            min: dataset.map(data => data.measures.lightness_min),\n            max: dataset.map(data => data.measures.lightness_max),\n            avg: dataset.map(data => data.measures.lightness_avg)      \n        },\n        power: {\n            min: dataset.map(data => data.measures.power_min),\n            max: dataset.map(data => data.measures.power_max),\n            avg: dataset.map(data => data.measures.power_avg)          \n        },\n        power_expend: dataset.map((data, i) => {\n            const value    = data.measures.power_expend;\n            const sum_prev = dataset.slice(0, i).reduce((acc, cur) => acc + cur.measures.power_expend, 0);\n    \n            return (value + sum_prev).toFixed(2);\n        })\n    }\n}\n\nmsg.payload = { labels, values };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 555,
        "wires": [
            [
                "dc71772a94af1a6d",
                "47e86d41591c2ef2"
            ]
        ]
    },
    {
        "id": "321102acad131081",
        "type": "function",
        "z": "7bfe80d199363eac",
        "name": "Get current minute",
        "func": "const timestamp = msg.timestamp;\nconst date      = new Date(timestamp);\n\nmsg.payload = date.getMinutes();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 115,
        "wires": [
            [
                "19d3181cd080c2b0"
            ]
        ]
    },
    {
        "id": "19d3181cd080c2b0",
        "type": "switch",
        "z": "7bfe80d199363eac",
        "name": "Execute flow?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 115,
        "wires": [
            [
                "595d6b6ee38f20b2"
            ]
        ]
    },
    {
        "id": "136e50967fd0d184",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "8813ec2835daae18",
        "name": "",
        "env": [],
        "x": 640,
        "y": 137,
        "wires": [
            [
                "e3c40742d52ebe20"
            ]
        ]
    },
    {
        "id": "42c1b1a281ba72f5",
        "type": "function",
        "z": "8813ec2835daae18",
        "name": "Get device status",
        "func": "const device_id = msg.sensor_output.device_id;\n\nmsg.payload = `SELECT STATUS FROM DEVICES WHERE ID = ${device_id}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 137,
        "wires": [
            [
                "136e50967fd0d184"
            ]
        ]
    },
    {
        "id": "e3c40742d52ebe20",
        "type": "function",
        "z": "8813ec2835daae18",
        "name": "Device is operational?",
        "func": "const response = msg.payload;\n\nif (response.length > 0) {\n    const status = response[0].status;\n    \n    if (status === true) {\n        return [msg, null];\n    }\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 137,
        "wires": [
            [
                "4f84135b11c27312"
            ],
            [
                "c57818bbb89356ec"
            ]
        ]
    },
    {
        "id": "c57818bbb89356ec",
        "type": "debug",
        "z": "8813ec2835daae18",
        "name": "[EXIT] Receive sensors data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 158,
        "wires": []
    },
    {
        "id": "9e05e185a3257074",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Set query",
        "func": "// Get data from current month\n\nfunction format_date (timestamp) {\n    const year = timestamp.getFullYear();\n    const mon  = `0${timestamp.getMonth()+1}`.slice(-2);\n    const day  = `0${timestamp.getDate()}`.slice(-2);\n    const hour = `0${timestamp.getHours()}`.slice(-2);\n    const min  = `0${timestamp.getMinutes()}`.slice(-2);\n    const sec  = `0${timestamp.getSeconds()}`.slice(-2);\n    \n    return `${year}-${mon}-${day} ${hour}:${min}:${sec}`;\n}\n\nconst threshold   = msg.threshold;\nconst device_name = msg.device_name;\n\nconst end = format_date(threshold);\n\nlet begin = new Date(threshold);\nbegin.setDate(1);\nbegin = format_date(begin);\n\nmsg.payload = `SELECT SDI.VOLTAGE_MIN, SDI.VOLTAGE_MAX, SDI.VOLTAGE_AVG, SDI.CURRENT_MIN, SDI.CURRENT_MAX, SDI.CURRENT_AVG, SDI.LIGHTNESS_MIN, SDI.LIGHTNESS_MAX, SDI.LIGHTNESS_AVG, SDI.POWER_MIN, SDI.POWER_MAX, SDI.POWER_AVG, SDI.POWER_EXPEND, SDI.NUM_REGISTRIES, SDI.INSERTION_TIME\n               FROM SENSORS_DATA_INTERVAL AS SDI \n               JOIN DEVICES AS D ON SDI.DEVICE_ID = D.ID\n               WHERE D.NAME = '${device_name}'\n               AND (SDI.INSERTION_TIME AT TIME ZONE 'CST') > (TO_TIMESTAMP('${begin}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST') \n               AND (SDI.INSERTION_TIME AT TIME ZONE 'CST') <= (TO_TIMESTAMP('${end}', 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'CST')\n               ORDER BY SDI.INSERTION_TIME`;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1019.75,
        "y": 352.25,
        "wires": [
            [
                "6ec488a047717083"
            ]
        ]
    },
    {
        "id": "6cf164c9f164c150",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Set n_groups and hop",
        "func": "const interval = msg.interval;\n\nlet n_groups;\nlet hop;\n\nswitch (interval) {\n    case 1440:\n        n_groups = 24;\n        hop = 1000 * 60 * 60 * 1; // 1 hour (millseconds * seconds * minutes * hours)\n        break;\n    case 10080:\n        n_groups = 14;\n        hop = 1000 * 60 * 60 * 12; // 12 hours\n        break;\n    case 44640:\n        n_groups = (new Date(msg.threshold)).getDate() * 2 - 1;\n        hop = 1000 * 60 * 60 * 12; // 12 hours\n        break;\n}\n\nmsg.n_groups = n_groups;\nmsg.hop      = hop;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 478,
        "wires": [
            [
                "0b5d0e0c0b5c98b1"
            ]
        ]
    },
    {
        "id": "4e293f940e64d152",
        "type": "http response",
        "z": "7f5557aca01f4737",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 357,
        "wires": []
    },
    {
        "id": "12e3a1e4cfa30cb1",
        "type": "http in",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "url": "/devices/info",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 136,
        "wires": [
            [
                "57244f1442e4327e"
            ]
        ]
    },
    {
        "id": "359f6bc0088d38e8",
        "type": "comment",
        "z": "4a674aaa9e667dd6",
        "name": "########## Get informations of a device",
        "info": "",
        "x": 200,
        "y": 55,
        "wires": []
    },
    {
        "id": "b6c255d661228eb9",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 880,
        "y": 116,
        "wires": [
            [
                "99f87ae84968c485"
            ]
        ]
    },
    {
        "id": "09d4870160f6b21e",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Set query",
        "func": "const device_name = msg.device_name;\nconst device_id = msg.device_id;\n\nmsg.payload = `SELECT D.NAME, D.ID, D.COORDINATES, D.STREET, Z.ZONE, D.INTERVAL, D.STATUS, DI.DISTRICT\n               FROM DEVICES AS D\n               JOIN DISTRICTS AS DI ON D.DISTRICT_ID = DI.ID\n               JOIN ZONES AS Z ON DI.ZONE_ID = Z.ID`;\n\nif (device_name !== '') {\n    msg.payload += ` WHERE D.NAME = '${device_name}'`;\n} else {\n    msg.payload += ` WHERE D.ID = '${device_id}'`;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 116,
        "wires": [
            [
                "b6c255d661228eb9"
            ]
        ]
    },
    {
        "id": "5e01cf1a6a9c08e8",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1200,
        "y": 116,
        "wires": []
    },
    {
        "id": "41620196004f99a3",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 1] Get informations of a device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 116,
        "wires": []
    },
    {
        "id": "57244f1442e4327e",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Parse request body",
        "func": "msg.device_name = msg.payload.device_name;\nmsg.device_id = msg.payload.device_id;\n\nmsg.payload = msg.device_name !== '' || msg.device_id !== '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 136,
        "wires": [
            [
                "6b22bcb564cfcbaa"
            ]
        ]
    },
    {
        "id": "b6232749331caf9b",
        "type": "http in",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "url": "/devices/info/locations",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 956,
        "wires": [
            [
                "c25aa9a97958c4e6"
            ]
        ]
    },
    {
        "id": "b5500c0de884707c",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 740,
        "y": 956,
        "wires": [
            [
                "86ba935683dc8e83"
            ]
        ]
    },
    {
        "id": "06c4b1f1c64bcda3",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 956,
        "wires": []
    },
    {
        "id": "3f76da596363637a",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT] Get geographic info",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 956,
        "wires": []
    },
    {
        "id": "bb96314b45690cfe",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Search for zones",
        "func": "msg.type = msg.payload.type;\n\nmsg.payload = `SELECT ZONE FROM ZONES ORDER BY ZONE`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 935,
        "wires": [
            [
                "b5500c0de884707c"
            ]
        ]
    },
    {
        "id": "86ba935683dc8e83",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Parse result",
        "func": "const rows = msg.payload;\nconst type = msg.type;\n\nmsg.payload = rows.map(row => row[type]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 956,
        "wires": [
            [
                "3f76da596363637a",
                "06c4b1f1c64bcda3"
            ]
        ]
    },
    {
        "id": "99f87ae84968c485",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Parse result",
        "func": "const device_info = msg.payload[0];\n\nif (device_info !== undefined) {\n    device_info.status = device_info.status === true ? 'OPERACIONAL' : 'NÃO OPERACIONAL';\n    msg.payload = device_info;\n} else {\n    msg.payload = {};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 116,
        "wires": [
            [
                "41620196004f99a3",
                "5e01cf1a6a9c08e8"
            ]
        ]
    },
    {
        "id": "c25aa9a97958c4e6",
        "type": "switch",
        "z": "4a674aaa9e667dd6",
        "name": "Search type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "zone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "district",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 956,
        "wires": [
            [
                "bb96314b45690cfe"
            ],
            [
                "55e3cd0f4e73b20b"
            ]
        ]
    },
    {
        "id": "55e3cd0f4e73b20b",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Search for districts",
        "func": "const type = msg.payload.type;\nconst zone = msg.payload.zone;\n\nmsg.payload = `SELECT D.DISTRICT\n               FROM DISTRICTS AS D\n               JOIN ZONES AS Z ON D.ZONE_ID = Z.ID\n               WHERE Z.ZONE = '${zone}'\n               ORDER BY D.DISTRICT`;\n\nmsg.type = type;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 978,
        "wires": [
            [
                "b5500c0de884707c"
            ]
        ]
    },
    {
        "id": "60e6d0d8edb94b2f",
        "type": "http in",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "url": "/devices/info",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 312,
        "wires": [
            [
                "0ff29a6d6ef0912d"
            ]
        ]
    },
    {
        "id": "0ff29a6d6ef0912d",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Search for device",
        "func": "const device_info = msg.payload.params;\n\nmsg.payload = `SELECT COUNT(*) \n               FROM DEVICES \n               WHERE NAME = '${device_info.name}'`;\n               \nmsg.device_info = device_info;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 312,
        "wires": [
            [
                "3e0f2d19e87fc036"
            ]
        ]
    },
    {
        "id": "3e0f2d19e87fc036",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 500,
        "y": 312,
        "wires": [
            [
                "cd9beedcf7c41e7a"
            ]
        ]
    },
    {
        "id": "fbc2757470ae0533",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 1] Insert a new device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 333,
        "wires": []
    },
    {
        "id": "cd9beedcf7c41e7a",
        "type": "switch",
        "z": "4a674aaa9e667dd6",
        "name": "Found device?",
        "property": "payload[0].count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 312,
        "wires": [
            [
                "0b3d057f822f818d"
            ],
            [
                "283bdf50951c97cd"
            ]
        ]
    },
    {
        "id": "283bdf50951c97cd",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "msg.payload = 'Não é possível a existência de dois dispositivos cadastrados com o mesmo nome.';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 333,
        "wires": [
            [
                "45059aa775477247",
                "fbc2757470ae0533"
            ]
        ]
    },
    {
        "id": "45059aa775477247",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 333,
        "wires": []
    },
    {
        "id": "1dd4dac7de48fd07",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Insert device",
        "func": "const device_info = msg.device_info;\n\nconst name        = device_info.name;\nconst coordinates = device_info.coordinates;\nconst street      = device_info.street;\nconst district    = msg.payload[0].id;\nconst interval    = device_info.interval;\nconst status      = device_info.status === 'OPERACIONAL' ? true : false;\n\nmsg.payload = `INSERT\n               INTO DEVICES (NAME, COORDINATES, STREET, DISTRICT_ID, INTERVAL, STATUS)\n               VALUES ('${name}', '${coordinates}', '${street}', ${district}, ${interval}, ${status})`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 416,
        "wires": [
            [
                "583ec79d0b612605"
            ]
        ]
    },
    {
        "id": "ea840e0e78c36329",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 2] Insert a new device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 416,
        "wires": []
    },
    {
        "id": "0b3d057f822f818d",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Get district id",
        "func": "const district = msg.device_info.district;\n\nmsg.payload = `SELECT ID FROM DISTRICTS WHERE DISTRICT = '${district}'`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 296,
        "wires": [
            [
                "fe86e969ca73c212"
            ]
        ]
    },
    {
        "id": "fe86e969ca73c212",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 296,
        "wires": [
            [
                "354d74e276ba97cd"
            ]
        ]
    },
    {
        "id": "583ec79d0b612605",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 320,
        "y": 416,
        "wires": [
            [
                "2a504e09a42d10ce"
            ]
        ]
    },
    {
        "id": "7ace7937a50e561f",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "const device_id = msg.payload[0].id;\n\nmsg.payload = `Dispositivo inserido com sucesso! ID: ${device_id}.`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 416,
        "wires": [
            [
                "ea840e0e78c36329",
                "4ea1758dc69fc48a"
            ]
        ]
    },
    {
        "id": "4ea1758dc69fc48a",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1020,
        "y": 416,
        "wires": []
    },
    {
        "id": "354d74e276ba97cd",
        "type": "link out",
        "z": "4a674aaa9e667dd6",
        "name": "OUT (1) Insert a new device",
        "links": [
            "42357eb93017ae22"
        ],
        "x": 1095,
        "y": 296,
        "wires": []
    },
    {
        "id": "42357eb93017ae22",
        "type": "link in",
        "z": "4a674aaa9e667dd6",
        "name": "IN (1) Insert a new device",
        "links": [
            "354d74e276ba97cd"
        ],
        "x": 55,
        "y": 416,
        "wires": [
            [
                "1dd4dac7de48fd07"
            ]
        ]
    },
    {
        "id": "2baad984afc85eae",
        "type": "mqtt out",
        "z": "e27b09cd4ecd866a",
        "name": "Sensors Input",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df4bdf4be0d4150f",
        "x": 880,
        "y": 155,
        "wires": []
    },
    {
        "id": "a27f823e0f59d886",
        "type": "http in",
        "z": "e27b09cd4ecd866a",
        "name": "",
        "url": "/devices/actions/on-off",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 135,
        "wires": [
            [
                "49692ea51cb1817f"
            ]
        ]
    },
    {
        "id": "2a89e07262bccc41",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Parse request body",
        "func": "const device_id = msg.payload[0].id;\nconst action    = msg.action;\n\nmsg.topic = `pgc_ufabc/devices/actions/change_state/${device_id}`;\nmsg.payload = action;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 135,
        "wires": [
            [
                "100673d3690931d5",
                "2baad984afc85eae"
            ]
        ]
    },
    {
        "id": "c27ef97c2e856f6f",
        "type": "http response",
        "z": "e27b09cd4ecd866a",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1080,
        "y": 115,
        "wires": []
    },
    {
        "id": "100673d3690931d5",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Prepare response",
        "func": "msg.payload = 'OK';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 115,
        "wires": [
            [
                "76d3eecb7c2eb2bc",
                "c27ef97c2e856f6f"
            ]
        ]
    },
    {
        "id": "158d45c1123bc5e5",
        "type": "comment",
        "z": "e27b09cd4ecd866a",
        "name": "########## Turn on/off lights remotely",
        "info": "",
        "x": 190,
        "y": 56,
        "wires": []
    },
    {
        "id": "49692ea51cb1817f",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Get device id",
        "func": "const action      = msg.payload.action;\nconst device_name = msg.payload.device_name;\n\nmsg.payload = `SELECT ID FROM DEVICES WHERE NAME = '${device_name}'`;\n\nmsg.action      = action;\nmsg.device_name = device_name;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 135,
        "wires": [
            [
                "394e42416b908028"
            ]
        ]
    },
    {
        "id": "394e42416b908028",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "e27b09cd4ecd866a",
        "name": "",
        "env": [],
        "x": 500,
        "y": 135,
        "wires": [
            [
                "2a89e07262bccc41"
            ]
        ]
    },
    {
        "id": "76d3eecb7c2eb2bc",
        "type": "debug",
        "z": "e27b09cd4ecd866a",
        "name": "[EXIT] Turn on/off lights remotely",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 115,
        "wires": []
    },
    {
        "id": "ef6371934f5fd5b0",
        "type": "catch",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 1196,
        "wires": [
            [
                "d1e16d213602f942"
            ]
        ]
    },
    {
        "id": "9d48e59a4de836b7",
        "type": "comment",
        "z": "4a674aaa9e667dd6",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 180,
        "y": 1135,
        "wires": []
    },
    {
        "id": "ae3acdea4e84f4b4",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1196,
        "wires": []
    },
    {
        "id": "8213a585916b7e9c",
        "type": "catch",
        "z": "e27b09cd4ecd866a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 596,
        "wires": [
            [
                "54d530db04013318"
            ]
        ]
    },
    {
        "id": "00bcdd2e25f2fd75",
        "type": "comment",
        "z": "e27b09cd4ecd866a",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 180,
        "y": 535,
        "wires": []
    },
    {
        "id": "783d881f4f37ed3b",
        "type": "debug",
        "z": "e27b09cd4ecd866a",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 596,
        "wires": []
    },
    {
        "id": "c6a52803fbced1d1",
        "type": "comment",
        "z": "7f5557aca01f4737",
        "name": "########## Get last measures of a device",
        "info": "",
        "x": 200,
        "y": 56,
        "wires": []
    },
    {
        "id": "44f5978e0ca7c32c",
        "type": "comment",
        "z": "7f5557aca01f4737",
        "name": "########## Get measures of a device in a specific interval",
        "info": "",
        "x": 250,
        "y": 216,
        "wires": []
    },
    {
        "id": "11d5b3d462d5d92e",
        "type": "comment",
        "z": "4a674aaa9e667dd6",
        "name": "########## Insert a new device",
        "info": "",
        "x": 170,
        "y": 235,
        "wires": []
    },
    {
        "id": "8503a624b3fd578e",
        "type": "comment",
        "z": "4a674aaa9e667dd6",
        "name": "########## Get geographic info",
        "info": "",
        "x": 170,
        "y": 875,
        "wires": []
    },
    {
        "id": "d1e16d213602f942",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "msg.payload = 'Houve uma falha durante o processamento da sua requisição. Por favor, tente mais tarde.';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1196,
        "wires": [
            [
                "ae3acdea4e84f4b4",
                "55abf6149b998fb7"
            ]
        ]
    },
    {
        "id": "55abf6149b998fb7",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 460,
        "y": 1196,
        "wires": []
    },
    {
        "id": "a961e1ec20451721",
        "type": "function",
        "z": "7f5557aca01f4737",
        "name": "Prepare response",
        "func": "msg.payload = 'Houve uma falha durante o processamento da sua requisição. Por favor, tente mais tarde.';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 776,
        "wires": [
            [
                "1705d89c23ac2369",
                "1410340333327f6f"
            ]
        ]
    },
    {
        "id": "1410340333327f6f",
        "type": "http response",
        "z": "7f5557aca01f4737",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 460,
        "y": 776,
        "wires": []
    },
    {
        "id": "54d530db04013318",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Prepare response",
        "func": "msg.payload = 'Houve uma falha durante o processamento da sua requisição. Por favor, tente mais tarde.';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 596,
        "wires": [
            [
                "783d881f4f37ed3b",
                "577586bde1b10999"
            ]
        ]
    },
    {
        "id": "577586bde1b10999",
        "type": "http response",
        "z": "e27b09cd4ecd866a",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 460,
        "y": 596,
        "wires": []
    },
    {
        "id": "3f850bd264ddaf01",
        "type": "http in",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "url": "/devices/info",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 596,
        "wires": [
            [
                "4b16be6b6b2b1e3b"
            ]
        ]
    },
    {
        "id": "1e992e859189a567",
        "type": "comment",
        "z": "4a674aaa9e667dd6",
        "name": "########## Update a device",
        "info": "",
        "x": 160,
        "y": 516,
        "wires": []
    },
    {
        "id": "4b16be6b6b2b1e3b",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Search for device",
        "func": "const device_info = msg.payload.params;\n\nmsg.payload = `SELECT COUNT(*) \n               FROM DEVICES \n               WHERE NAME = '${device_info.name}'`;\n               \nmsg.device_info = device_info;\n               \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 596,
        "wires": [
            [
                "936642715f14669a"
            ]
        ]
    },
    {
        "id": "936642715f14669a",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 480,
        "y": 596,
        "wires": [
            [
                "122724bf96a147d7"
            ]
        ]
    },
    {
        "id": "122724bf96a147d7",
        "type": "switch",
        "z": "4a674aaa9e667dd6",
        "name": "Found device?",
        "property": "payload[0].count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 596,
        "wires": [
            [
                "c994db6c36e2d821"
            ],
            [
                "b4e2da8341c30780"
            ]
        ]
    },
    {
        "id": "2748f59101ff8cd3",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 1] Update a device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 617,
        "wires": []
    },
    {
        "id": "b4e2da8341c30780",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "msg.payload = 'Não é possível a edição de um dispositivo que não encontra-se cadastrado.';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 617,
        "wires": [
            [
                "2101839e3edcbd88",
                "2748f59101ff8cd3"
            ]
        ]
    },
    {
        "id": "2101839e3edcbd88",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 617,
        "wires": []
    },
    {
        "id": "c994db6c36e2d821",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Get district id",
        "func": "const district = msg.device_info.district;\n\nmsg.payload = `SELECT ID FROM DISTRICTS WHERE DISTRICT = '${district}'`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 574,
        "wires": [
            [
                "9c818c3d258ca0d5"
            ]
        ]
    },
    {
        "id": "9c818c3d258ca0d5",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 980,
        "y": 574,
        "wires": [
            [
                "3fd0be4cc0f3bdbc"
            ]
        ]
    },
    {
        "id": "3fd0be4cc0f3bdbc",
        "type": "link out",
        "z": "4a674aaa9e667dd6",
        "name": "OUT (1) Update a device",
        "links": [
            "bca9421ea3162cbe"
        ],
        "x": 1075,
        "y": 574,
        "wires": []
    },
    {
        "id": "7d354790d19477dd",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Update device",
        "func": "const device_info = msg.device_info;\n\nconst name        = device_info.name;\nconst coordinates = device_info.coordinates;\nconst street      = device_info.street;\nconst district    = msg.payload[0].id;\nconst interval    = device_info.interval;\nconst status      = device_info.status === 'OPERACIONAL' ? true : false;\n\nmsg.payload = `UPDATE DEVICES\n               SET COORDINATES = '${coordinates}',\n                   STREET = '${street}',\n                   DISTRICT_ID = ${district},\n                   INTERVAL = ${interval},\n                   STATUS = ${status},\n                   LAST_UPDATE_TIME = CURRENT_TIMESTAMP\n               WHERE NAME = '${name}'`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 736,
        "wires": [
            [
                "a7a9fdad92d0bee0"
            ]
        ]
    },
    {
        "id": "bca9421ea3162cbe",
        "type": "link in",
        "z": "4a674aaa9e667dd6",
        "name": "IN (1) Update a device",
        "links": [
            "3fd0be4cc0f3bdbc"
        ],
        "x": 55,
        "y": 736,
        "wires": [
            [
                "7d354790d19477dd"
            ]
        ]
    },
    {
        "id": "a7a9fdad92d0bee0",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 340,
        "y": 736,
        "wires": [
            [
                "5e444f6f03c677da"
            ]
        ]
    },
    {
        "id": "f1ec79581a0d0359",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 2] Update a device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 776,
        "wires": []
    },
    {
        "id": "5e444f6f03c677da",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "msg.payload = 'Dispositivo atualizado com sucesso!';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 736,
        "wires": [
            [
                "f1ec79581a0d0359",
                "428c91e378be6650",
                "f9f8c81bf4bd0380"
            ]
        ]
    },
    {
        "id": "f9f8c81bf4bd0380",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 736,
        "wires": []
    },
    {
        "id": "428c91e378be6650",
        "type": "link out",
        "z": "4a674aaa9e667dd6",
        "name": "OUT (2) Update a device",
        "links": [
            "e94d04fcb7ddddd9"
        ],
        "x": 655,
        "y": 696,
        "wires": []
    },
    {
        "id": "e94d04fcb7ddddd9",
        "type": "link in",
        "z": "e27b09cd4ecd866a",
        "name": "BEGIN Update messages interval",
        "links": [
            "428c91e378be6650"
        ],
        "x": 55,
        "y": 335,
        "wires": [
            [
                "d6c15f789150113c"
            ]
        ]
    },
    {
        "id": "e38621aa38a6a1c2",
        "type": "comment",
        "z": "e27b09cd4ecd866a",
        "name": "########## Update messages interval",
        "info": "",
        "x": 190,
        "y": 276,
        "wires": []
    },
    {
        "id": "d6c15f789150113c",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Get device info",
        "func": "const device_name = msg.device_info.name;\n\nmsg.payload = `SELECT ID, INTERVAL FROM DEVICES WHERE NAME = '${device_name}'`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 335,
        "wires": [
            [
                "e3504661b768ac18"
            ]
        ]
    },
    {
        "id": "e3504661b768ac18",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "e27b09cd4ecd866a",
        "name": "",
        "env": [],
        "x": 340,
        "y": 335,
        "wires": [
            [
                "4f29d941c74707a5"
            ]
        ]
    },
    {
        "id": "4f29d941c74707a5",
        "type": "function",
        "z": "e27b09cd4ecd866a",
        "name": "Prepare message",
        "func": "const device_id = msg.payload[0].id;\nconst interval  = msg.payload[0].interval;\n\nmsg.topic = `pgc_ufabc/devices/actions/change_interval/${device_id}`;\nmsg.payload = interval;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 335,
        "wires": [
            [
                "4bc37b961a472284",
                "b644f813a9b949c7"
            ]
        ]
    },
    {
        "id": "4bc37b961a472284",
        "type": "mqtt out",
        "z": "e27b09cd4ecd866a",
        "name": "Sensors Input",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df4bdf4be0d4150f",
        "x": 700,
        "y": 335,
        "wires": []
    },
    {
        "id": "b644f813a9b949c7",
        "type": "debug",
        "z": "e27b09cd4ecd866a",
        "name": "[EXIT] Update messages interval",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 336,
        "wires": []
    },
    {
        "id": "2a504e09a42d10ce",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Get generated ID",
        "func": "const name = msg.device_info.name;\n\nmsg.payload = `SELECT ID FROM DEVICES WHERE NAME = '${name}'`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 416,
        "wires": [
            [
                "90f2220d440b7e49"
            ]
        ]
    },
    {
        "id": "90f2220d440b7e49",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "4a674aaa9e667dd6",
        "name": "",
        "env": [],
        "x": 660,
        "y": 416,
        "wires": [
            [
                "7ace7937a50e561f"
            ]
        ]
    },
    {
        "id": "6b22bcb564cfcbaa",
        "type": "switch",
        "z": "4a674aaa9e667dd6",
        "name": "Has device identification?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 136,
        "wires": [
            [
                "09d4870160f6b21e"
            ],
            [
                "40dbb4b86f38474e"
            ]
        ]
    },
    {
        "id": "06b6a8e8c9bff75b",
        "type": "debug",
        "z": "4a674aaa9e667dd6",
        "name": "[EXIT 2] Get informations of a device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 158,
        "wires": []
    },
    {
        "id": "40dbb4b86f38474e",
        "type": "function",
        "z": "4a674aaa9e667dd6",
        "name": "Prepare response",
        "func": "msg.payload = `Não é possível realizar a busca sem o nome do dispositivo ou ID.`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 158,
        "wires": [
            [
                "06b6a8e8c9bff75b",
                "478cd9c83665ef3f"
            ]
        ]
    },
    {
        "id": "478cd9c83665ef3f",
        "type": "http response",
        "z": "4a674aaa9e667dd6",
        "name": "Send response",
        "statusCode": "",
        "headers": {},
        "x": 960,
        "y": 158,
        "wires": []
    }
]