desenvolvimento/nodered/devices/flows.json
[
    {
        "id": "d54052ea6cb4b184",
        "type": "tab",
        "label": "Simulate devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab0855462a34e9f7",
        "type": "tab",
        "label": "Device actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a444632620451a72",
        "type": "tab",
        "label": "Device failure",
        "disabled": false,
        "info": ""
    },
    {
        "id": "185bd0a8b5a4b916",
        "type": "subflow",
        "name": "Database Redis",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 166,
                "wires": [
                    {
                        "id": "3c546124752a49f4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 1283,
                "wires": [
                    {
                        "id": "adc4c59772c6298c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 120,
                "y": 1360,
                "wires": [
                    {
                        "id": "ab7425eb7c0d4676",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "bab6ffe5b7ae3a28",
        "type": "subflow",
        "name": "Database",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "2dc46f9c24f9eb35"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 100,
                "wires": [
                    {
                        "id": "dcf9a148a61be9fc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "0cae39fb33383cf0",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "broker_mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a60982b15f334d52",
        "type": "mydbConfig",
        "name": "postgres@db:5432/PGC",
        "host": "db",
        "port": "5432",
        "database": "PGC",
        "ssl": false,
        "rejectUnauthorized": false,
        "ca": "",
        "key": "",
        "cert": "",
        "max": "10",
        "min": "1",
        "idle": "1000"
    },
    {
        "id": "a7cb2a42ddfd0d99",
        "type": "redis-config",
        "name": "Redis",
        "options": "{\"host\":\"devices_redis\",\"port\":6380}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "21c629e3be9268f3",
        "type": "mydbConfig",
        "name": "postgres@db:5432/PGC",
        "host": "db",
        "port": "5432",
        "database": "PGC",
        "ssl": false,
        "rejectUnauthorized": false,
        "ca": "",
        "key": "",
        "cert": "",
        "max": "10",
        "min": "1",
        "idle": "1000"
    },
    {
        "id": "32feb38f11d62b82",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Set measure values",
        "func": "const measures = msg.payload;\n\nconst device_id  = msg.device.id;\nconst rele_state = msg.device.rele_state;\n\nmeasures.device_id  = device_id;\nmeasures.rele_state = rele_state;\n\nmeasures.voltage   = measures.voltage   !== null ? measures.voltage   : (rele_state ? Math.floor(Math.random() * (136 - 118) + 118) : 0);\nmeasures.current   = measures.current   !== null ? measures.current   : (parseFloat((rele_state ? Math.random() * (0.6 - 0.5) + 0.5 : 0).toFixed(1)));\nmeasures.lightness = measures.lightness !== null ? measures.lightness : (rele_state ? 247: 150);\n\nmsg.payload = JSON.stringify(measures);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 775,
        "wires": [
            [
                "a270c0df9a2dc47e",
                "127715ede839bcb6"
            ]
        ]
    },
    {
        "id": "d2e0b7fe107775ad",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "[EXIT 2] Generate measures in fake devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 950,
        "wires": []
    },
    {
        "id": "a270c0df9a2dc47e",
        "type": "mqtt out",
        "z": "d54052ea6cb4b184",
        "name": "Send measure to Broker MQTT",
        "topic": "pgc_ufabc/devices/measures",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0cae39fb33383cf0",
        "x": 830,
        "y": 795,
        "wires": []
    },
    {
        "id": "6c5cbba3d9e3d78a",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (3) Generate measures in fake devices",
        "links": [
            "be6ef9effcdd6438"
        ],
        "x": 55,
        "y": 657,
        "wires": [
            [
                "d47ce4ef42f4e2f6"
            ]
        ]
    },
    {
        "id": "be6ef9effcdd6438",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (2) Generate measures in fake devices",
        "links": [
            "6c5cbba3d9e3d78a"
        ],
        "x": 655,
        "y": 516,
        "wires": []
    },
    {
        "id": "6dd4bce029a8103f",
        "type": "mqtt in",
        "z": "ab0855462a34e9f7",
        "name": "Receive action messages",
        "topic": "pgc_ufabc/devices/actions/change_state/+",
        "qos": "0",
        "datatype": "utf8",
        "broker": "0cae39fb33383cf0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 138,
        "wires": [
            [
                "370aab902010cd2b"
            ]
        ]
    },
    {
        "id": "370aab902010cd2b",
        "type": "function",
        "z": "ab0855462a34e9f7",
        "name": "Set rele state of device",
        "func": "const deviceId = parseInt(msg.topic.match(/\\/(\\d+)$/)[1]);\n\nconst action = msg.payload;\nconst newState = action === 'L' ? true : false;\n\nmsg.payload = { \n    action: 'JSON.UPDATE', \n    params: [{ \n        key: deviceId, \n        values: { attr: 'rele_state', value: newState } \n    }] \n};\n\ndelete msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 138,
        "wires": [
            [
                "5fa5186b9968ce9f"
            ]
        ]
    },
    {
        "id": "0863ee950d6711ce",
        "type": "debug",
        "z": "ab0855462a34e9f7",
        "name": "[EXIT 1] Set state based in On/Off button click",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 116,
        "wires": []
    },
    {
        "id": "7f69f20ce0dfdbcd",
        "type": "comment",
        "z": "ab0855462a34e9f7",
        "name": "########## Turn on/off lights remotely",
        "info": "",
        "x": 190,
        "y": 55,
        "wires": []
    },
    {
        "id": "7e8bbf2cc5824e31",
        "type": "catch",
        "z": "d54052ea6cb4b184",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 1176,
        "wires": [
            [
                "217d63f100ed864d"
            ]
        ]
    },
    {
        "id": "efeea2a3692dbea5",
        "type": "comment",
        "z": "d54052ea6cb4b184",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 179,
        "y": 1115,
        "wires": []
    },
    {
        "id": "217d63f100ed864d",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 1176,
        "wires": []
    },
    {
        "id": "a0ca1f23f11ddcf8",
        "type": "catch",
        "z": "ab0855462a34e9f7",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 574,
        "wires": [
            [
                "738994375aefe09e"
            ]
        ]
    },
    {
        "id": "4a5ab1e396c4bbad",
        "type": "comment",
        "z": "ab0855462a34e9f7",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 179,
        "y": 513,
        "wires": []
    },
    {
        "id": "738994375aefe09e",
        "type": "debug",
        "z": "ab0855462a34e9f7",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 574,
        "wires": []
    },
    {
        "id": "62efccd00ae19dbf",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "JSON.SET",
        "name": "JSON.INSERT",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 360,
        "y": 655,
        "wires": [
            [
                "bfbff7d80bac8776"
            ]
        ]
    },
    {
        "id": "8309511dc52a3b6b",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "JSON.GET",
        "name": "JSON.GET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 350,
        "y": 615,
        "wires": [
            [
                "14a4f1ea68611679"
            ]
        ]
    },
    {
        "id": "70d4f99473093739",
        "type": "switch",
        "z": "185bd0a8b5a4b916",
        "name": "What action?",
        "property": "query.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "JSON.GET",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "JSON.INSERT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "JSON.UPDATE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "KEYS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "JSON.ARRAPPEND",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "JSON.ARRPOP",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 170,
        "y": 355,
        "wires": [
            [
                "a5646b720d61e23d"
            ],
            [
                "a712429cd9c00fb9"
            ],
            [
                "09579b2768fd57ec"
            ],
            [
                "91256a108cc22c6f"
            ],
            [
                "470e03096c22a255"
            ],
            [
                "016be0caa78e3d3d"
            ]
        ]
    },
    {
        "id": "1169e102e4d222c2",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN JSON.INSERT",
        "links": [
            "7cdfb2af0af8ec92",
            "a712429cd9c00fb9"
        ],
        "x": 55,
        "y": 655,
        "wires": [
            [
                "df7ff42e19db4df7"
            ]
        ]
    },
    {
        "id": "f4032c3893645be0",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN JSON.GET",
        "links": [
            "a5646b720d61e23d",
            "38cd626f498d07a0"
        ],
        "x": 55,
        "y": 615,
        "wires": [
            [
                "95fbf9069438666b"
            ]
        ]
    },
    {
        "id": "a712429cd9c00fb9",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.INSERT",
        "links": [
            "1169e102e4d222c2"
        ],
        "x": 335,
        "y": 295,
        "wires": []
    },
    {
        "id": "a5646b720d61e23d",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.GET",
        "links": [
            "f4032c3893645be0"
        ],
        "x": 335,
        "y": 255,
        "wires": []
    },
    {
        "id": "df7ff42e19db4df7",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nmsg.payload = [params.key, \".\", JSON.stringify(params.values)];\n\nmsg.counter = counter+1;\nmsg.action = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 655,
        "wires": [
            [
                "62efccd00ae19dbf"
            ]
        ]
    },
    {
        "id": "95fbf9069438666b",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nmsg.payload = [params.key];\n\nif (params.values !== undefined) {\n    msg.payload.push(params.values);    \n}\n\nmsg.counter = counter+1;\nmsg.action = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 615,
        "wires": [
            [
                "8309511dc52a3b6b"
            ]
        ]
    },
    {
        "id": "bfbff7d80bac8776",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT JSON.INSERT",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 475,
        "y": 655,
        "wires": []
    },
    {
        "id": "14a4f1ea68611679",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT JSON.GET",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 455,
        "y": 615,
        "wires": []
    },
    {
        "id": "451464678bbc3d93",
        "type": "catch",
        "z": "185bd0a8b5a4b916",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 1576,
        "wires": [
            [
                "5db875bc9d533019"
            ]
        ]
    },
    {
        "id": "fbc7b5775bf09c5d",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "###### Exceptions Treatment",
        "info": "",
        "x": 159,
        "y": 1516,
        "wires": []
    },
    {
        "id": "3466a7f65bed9eac",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN (1) End",
        "links": [
            "e13e3ccd568107d2"
        ],
        "x": 55,
        "y": 1277,
        "wires": [
            [
                "48b1a57359cc9abd"
            ]
        ]
    },
    {
        "id": "ab7425eb7c0d4676",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN (2) End",
        "links": [
            "5db875bc9d533019"
        ],
        "x": 55,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "cba301d7724bd39b",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "Success",
        "info": "",
        "x": 1140,
        "y": 1283,
        "wires": []
    },
    {
        "id": "dd6277508180fb7c",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "Insuccess",
        "info": "",
        "x": 220,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5db875bc9d533019",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT Exceptions Treatment",
        "links": [
            "ab7425eb7c0d4676"
        ],
        "x": 195,
        "y": 1576,
        "wires": []
    },
    {
        "id": "09225a407ea571dc",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "MULTI",
        "name": "MULTI",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 770,
        "y": 144,
        "wires": [
            [
                "7a1c9d83a3613f33"
            ]
        ]
    },
    {
        "id": "4c30f53bc0b8f715",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "EXEC",
        "name": "EXEC",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 550,
        "y": 1255,
        "wires": [
            [
                "071eddf0112438e8"
            ]
        ]
    },
    {
        "id": "adc4c59772c6298c",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare result",
        "func": "delete msg.query;\ndelete msg.action;\ndelete msg.counter;\ndelete msg.counterMax;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1283,
        "wires": [
            []
        ]
    },
    {
        "id": "d739577f0282bcd8",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "##### Begin",
        "info": "",
        "x": 110,
        "y": 56,
        "wires": []
    },
    {
        "id": "49e5e7b7d2a08001",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "##### Functions",
        "info": "",
        "x": 120,
        "y": 556,
        "wires": []
    },
    {
        "id": "4f69d0a79d62082f",
        "type": "comment",
        "z": "185bd0a8b5a4b916",
        "name": "##### End",
        "info": "",
        "x": 100,
        "y": 1196,
        "wires": []
    },
    {
        "id": "7a1c9d83a3613f33",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Set counter",
        "func": "msg.counter    = 0;\nmsg.counterMax = msg.query.params.length\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 173,
        "wires": [
            [
                "67b41fa2bf4d76bc"
            ]
        ]
    },
    {
        "id": "2b42e25c9acdcf26",
        "type": "switch",
        "z": "185bd0a8b5a4b916",
        "name": "Execute again?",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "counterMax",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "79fd20871dc7a136"
            ],
            [
                "e13e3ccd568107d2"
            ]
        ]
    },
    {
        "id": "0aad452318b271e8",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN (1) Functions",
        "links": [
            "14a4f1ea68611679",
            "bfbff7d80bac8776",
            "a02f6fb69be119eb",
            "fe2af213e574e51f",
            "42c060b70aeae32d",
            "ea7cfcf3d063512b"
        ],
        "x": 55,
        "y": 1040,
        "wires": [
            [
                "2b42e25c9acdcf26"
            ]
        ]
    },
    {
        "id": "79fd20871dc7a136",
        "type": "switch",
        "z": "185bd0a8b5a4b916",
        "name": "What action?",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 370,
        "y": 994,
        "wires": [
            [
                "38cd626f498d07a0"
            ],
            [
                "7cdfb2af0af8ec92"
            ],
            [
                "b066144a02a0bbf7"
            ],
            [
                "560829592f1ac023"
            ],
            [
                "16f13f2b46c404e0"
            ],
            [
                "d147bd3a65c12089"
            ]
        ]
    },
    {
        "id": "e13e3ccd568107d2",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT (3) Functions",
        "links": [
            "3466a7f65bed9eac"
        ],
        "x": 315,
        "y": 1086,
        "wires": []
    },
    {
        "id": "38cd626f498d07a0",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.GET",
        "links": [
            "f4032c3893645be0"
        ],
        "x": 535,
        "y": 896,
        "wires": []
    },
    {
        "id": "7cdfb2af0af8ec92",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.INSERT",
        "links": [
            "1169e102e4d222c2"
        ],
        "x": 535,
        "y": 936,
        "wires": []
    },
    {
        "id": "94a4714c3a3969b8",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1255,
        "wires": [
            [
                "4c30f53bc0b8f715"
            ]
        ]
    },
    {
        "id": "16d60375c4a1414f",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Enabled MULTI mode",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 144,
        "wires": [
            [
                "09225a407ea571dc"
            ]
        ]
    },
    {
        "id": "09579b2768fd57ec",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.UPDATE",
        "links": [
            "779dad188b169279"
        ],
        "x": 335,
        "y": 335,
        "wires": []
    },
    {
        "id": "071eddf0112438e8",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Map result with key",
        "func": "function isJSON (string) {\n    try {\n        JSON.parse(string);\n        return true;\n    } catch (e) {\n        return false;\n    }\n}\n\nlet results = [].concat(msg.payload);\nlet keys    = msg.query.params.map(param => param.key);\n\nresults = results.map((result, i) => {\n    return {\n        key:    keys[i] || '',\n        result: isJSON(result) ? JSON.parse(result) : result\n    }        \n});\n\nmsg.payload = results;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1283,
        "wires": [
            [
                "adc4c59772c6298c"
            ]
        ]
    },
    {
        "id": "a302f13da39b1f7c",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "JSON.SET",
        "name": "JSON.UPDATE",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 360,
        "y": 696,
        "wires": [
            [
                "a02f6fb69be119eb"
            ]
        ]
    },
    {
        "id": "779dad188b169279",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN JSON.UPDATE",
        "links": [
            "b066144a02a0bbf7",
            "09579b2768fd57ec"
        ],
        "x": 55,
        "y": 696,
        "wires": [
            [
                "477bd67677dbe6bb"
            ]
        ]
    },
    {
        "id": "477bd67677dbe6bb",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nconst attr = params.values.attr;\nconst newValue = params.values.value;\n\nmsg.payload = [params.key, attr, newValue];\n\nmsg.counter = counter+1;\nmsg.action = 3;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 696,
        "wires": [
            [
                "a302f13da39b1f7c"
            ]
        ]
    },
    {
        "id": "a02f6fb69be119eb",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT JSON.UPDATE",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 475,
        "y": 696,
        "wires": []
    },
    {
        "id": "b066144a02a0bbf7",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.UPDATE",
        "links": [
            "779dad188b169279"
        ],
        "x": 535,
        "y": 974,
        "wires": []
    },
    {
        "id": "3c546124752a49f4",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Parse params",
        "func": "msg.query = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 166,
        "wires": [
            [
                "bb3f3b5c78d45598"
            ]
        ]
    },
    {
        "id": "c9405cb2eb6d1fc6",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "[EXIT 2] Insert new fake devices in environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 239,
        "wires": []
    },
    {
        "id": "21db4d079c64e83c",
        "type": "inject",
        "z": "d54052ea6cb4b184",
        "name": "Environment start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 155,
        "y": 118,
        "wires": [
            [
                "cfeb3031b1c8b58b"
            ]
        ]
    },
    {
        "id": "cfeb3031b1c8b58b",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Get fake devices from inventory",
        "func": "const useTimeRestriction = msg.payload;\n\nmsg.payload = 'SELECT ID, INTERVAL, STATUS FROM DEVICES WHERE IS_REAL = False';\n\nif (useTimeRestriction) {\n    msg.payload += ` AND (INSERTION_TIME AT TIME ZONE 'CST') > (CURRENT_TIMESTAMP AT TIME ZONE 'CST') - INTERVAL '10 min'`;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 138,
        "wires": [
            [
                "ebb7cbc54a3257fb"
            ]
        ]
    },
    {
        "id": "85429b83c87a2d2d",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "d54052ea6cb4b184",
        "name": "",
        "env": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "af194eb2a53d5bf3"
            ],
            [
                "f48d6ff4d912f6b1"
            ]
        ]
    },
    {
        "id": "0cb1064d1c365c70",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Prepare query",
        "func": "const currentTime = new Date();\nconst currentHour = currentTime.getHours();\n\nconst devices = msg.payload.map(device => {\n    return {\n        key: device.id,\n        values: {\n            interval:   device.interval,\n            send:       device.status,\n            rele_state: device.status == true && (currentHour < 6 || currentHour >= 18) ? true : false,\n            fails:      []\n        }\n    }\n});\n\nmsg.payload = { action: 'JSON.INSERT', params: devices };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 260,
        "wires": [
            [
                "85429b83c87a2d2d"
            ]
        ]
    },
    {
        "id": "ec397656e2d5e609",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (1) Insert new fake devices in environment",
        "links": [
            "23a9c846cd14e0f9"
        ],
        "x": 955,
        "y": 116,
        "wires": []
    },
    {
        "id": "23a9c846cd14e0f9",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (1) Insert new fake devices in environment",
        "links": [
            "ec397656e2d5e609"
        ],
        "x": 55,
        "y": 260,
        "wires": [
            [
                "0cb1064d1c365c70"
            ]
        ]
    },
    {
        "id": "f48d6ff4d912f6b1",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "[EXIT 3] Insert new fake devices in environment",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 281,
        "wires": []
    },
    {
        "id": "d27e63bee03aa702",
        "type": "inject",
        "z": "d54052ea6cb4b184",
        "name": "Every 10 minutes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "600",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 155,
        "y": 159,
        "wires": [
            [
                "cfeb3031b1c8b58b"
            ]
        ]
    },
    {
        "id": "4d0e95e96fd0ec55",
        "type": "comment",
        "z": "d54052ea6cb4b184",
        "name": "########## Insert new fake devices in environment",
        "info": "",
        "x": 230,
        "y": 56,
        "wires": []
    },
    {
        "id": "cc421e3896e3a98f",
        "type": "switch",
        "z": "d54052ea6cb4b184",
        "name": "Found new devices?",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 138,
        "wires": [
            [
                "ec397656e2d5e609"
            ],
            [
                "83f0065ce578f4d3"
            ]
        ]
    },
    {
        "id": "83f0065ce578f4d3",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "[EXIT 1] Insert new fake devices in environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 159,
        "wires": []
    },
    {
        "id": "b6e313696650bff2",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (2) Insert new fake devices in environment",
        "links": [
            "27654e848f61a56f"
        ],
        "x": 675,
        "y": 238,
        "wires": []
    },
    {
        "id": "af194eb2a53d5bf3",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "List devices ID",
        "func": "msg.payload = msg.payload.map(device => device.key);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 238,
        "wires": [
            [
                "c9405cb2eb6d1fc6",
                "b6e313696650bff2"
            ]
        ]
    },
    {
        "id": "cf26f1f933a8bd94",
        "type": "comment",
        "z": "d54052ea6cb4b184",
        "name": "########## Generate measures in fake devices",
        "info": "",
        "x": 220,
        "y": 376,
        "wires": []
    },
    {
        "id": "27654e848f61a56f",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (1) Generate measures in fake devices",
        "links": [
            "b6e313696650bff2"
        ],
        "x": 55,
        "y": 436,
        "wires": [
            [
                "8b9db073bfb3aedf"
            ]
        ]
    },
    {
        "id": "8b9db073bfb3aedf",
        "type": "split",
        "z": "d54052ea6cb4b184",
        "name": "Split devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 170,
        "y": 436,
        "wires": [
            [
                "991311b09ededc72"
            ]
        ]
    },
    {
        "id": "991311b09ededc72",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (1) Generate measures in fake devices",
        "links": [
            "3b3354684638c87a"
        ],
        "x": 275,
        "y": 436,
        "wires": []
    },
    {
        "id": "3b3354684638c87a",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (2) Generate measures in fake devices",
        "links": [
            "90e8bddf38b63a29",
            "991311b09ededc72"
        ],
        "x": 55,
        "y": 538,
        "wires": [
            [
                "587734d5a8447a6d"
            ]
        ]
    },
    {
        "id": "587734d5a8447a6d",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Get device data",
        "func": "const deviceId = msg.payload;\n\nmsg.payload = { action: 'JSON.GET', params: [{ key: deviceId }] };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 538,
        "wires": [
            [
                "e4fa68e290e7d172"
            ]
        ]
    },
    {
        "id": "e4fa68e290e7d172",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "d54052ea6cb4b184",
        "name": "",
        "env": [],
        "x": 360,
        "y": 538,
        "wires": [
            [
                "a3c9d68cb7041f05"
            ],
            [
                "14232fc58f501e54"
            ]
        ]
    },
    {
        "id": "14232fc58f501e54",
        "type": "debug",
        "z": "d54052ea6cb4b184",
        "name": "[EXIT 1] Generate measures in fake devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 559,
        "wires": []
    },
    {
        "id": "bb3f3b5c78d45598",
        "type": "switch",
        "z": "185bd0a8b5a4b916",
        "name": "Multiples querys?",
        "property": "query.params.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 166,
        "wires": [
            [
                "16d60375c4a1414f"
            ],
            [
                "7a1c9d83a3613f33"
            ]
        ]
    },
    {
        "id": "48b1a57359cc9abd",
        "type": "switch",
        "z": "185bd0a8b5a4b916",
        "name": "Multiples querys?",
        "property": "query.params.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 1277,
        "wires": [
            [
                "94a4714c3a3969b8"
            ],
            [
                "071eddf0112438e8"
            ]
        ]
    },
    {
        "id": "a3c9d68cb7041f05",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Parse result",
        "func": "const deviceId   = msg.payload[0].key;\nconst deviceData = msg.payload[0].result;\n\nmsg.device = { \n    id:         deviceId,\n    send:       deviceData.send,\n    rele_state: deviceData.rele_state,\n    fails:      deviceData.fails\n};\n\nmsg.delay = deviceData.interval;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 516,
        "wires": [
            [
                "be6ef9effcdd6438"
            ]
        ]
    },
    {
        "id": "a68e71c5e7e525b3",
        "type": "delay",
        "z": "d54052ea6cb4b184",
        "name": "Wait for interval",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 200,
        "y": 896,
        "wires": [
            [
                "9756036cb1ecf46f"
            ]
        ]
    },
    {
        "id": "d47ce4ef42f4e2f6",
        "type": "switch",
        "z": "d54052ea6cb4b184",
        "name": "Device has failures?",
        "property": "device.fails.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 657,
        "wires": [
            [
                "a76b1c7e5bbe3efd"
            ],
            [
                "f0d1d6b64a7659fd"
            ]
        ]
    },
    {
        "id": "b3c4bb4261150dd8",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Map fail ID to description",
        "func": "const failsList   = msg.payload;\nconst deviceFails = msg.device.fails;\n\nmsg.device.fails = deviceFails.map(failId => failsList.find(fail => fail.id === failId));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 636,
        "wires": [
            [
                "11179055d302aec1"
            ]
        ]
    },
    {
        "id": "11179055d302aec1",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (3) Generate measures in fake devices",
        "links": [
            "68fb113372f89e05"
        ],
        "x": 1095,
        "y": 636,
        "wires": []
    },
    {
        "id": "f0d1d6b64a7659fd",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (4) Generate measures in fake devices",
        "links": [
            "68fb113372f89e05"
        ],
        "x": 355,
        "y": 679,
        "wires": []
    },
    {
        "id": "68fb113372f89e05",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (4) Generate measures in fake devices",
        "links": [
            "11179055d302aec1",
            "f0d1d6b64a7659fd"
        ],
        "x": 56,
        "y": 797,
        "wires": [
            [
                "088c10a30b26ab40"
            ]
        ]
    },
    {
        "id": "9756036cb1ecf46f",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Reset data",
        "func": "msg.payload = msg.device.id;\n\ndelete msg.device;\ndelete msg.delay;\ndelete msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 896,
        "wires": [
            [
                "90e8bddf38b63a29"
            ]
        ]
    },
    {
        "id": "90e8bddf38b63a29",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (7) Generate measures in fake devices",
        "links": [
            "3b3354684638c87a"
        ],
        "x": 475,
        "y": 896,
        "wires": []
    },
    {
        "id": "5fa5186b9968ce9f",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "ab0855462a34e9f7",
        "name": "",
        "env": [],
        "x": 580,
        "y": 138,
        "wires": [
            [
                "0863ee950d6711ce"
            ],
            [
                "db4c5987c4b7f82f"
            ]
        ]
    },
    {
        "id": "db4c5987c4b7f82f",
        "type": "debug",
        "z": "ab0855462a34e9f7",
        "name": "[EXIT 2] Set state based in On/Off button click",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 159,
        "wires": []
    },
    {
        "id": "5737ae4d4d4cc025",
        "type": "mqtt in",
        "z": "ab0855462a34e9f7",
        "name": "Receive action messages",
        "topic": "pgc_ufabc/devices/actions/change_interval/+",
        "qos": "0",
        "datatype": "utf8",
        "broker": "0cae39fb33383cf0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 338,
        "wires": [
            [
                "60ed8d5f5e822ea5"
            ]
        ]
    },
    {
        "id": "60ed8d5f5e822ea5",
        "type": "function",
        "z": "ab0855462a34e9f7",
        "name": "Set messages interval of device",
        "func": "const deviceId = parseInt(msg.topic.match(/\\/(\\d+)$/)[1]);\nconst interval = msg.payload;\n\nmsg.payload = { \n    action: 'JSON.UPDATE', \n    params: [{ \n        key: deviceId, \n        values: { attr: 'interval', value: interval } }]\n};\n\ndelete msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 338,
        "wires": [
            [
                "2f4ccb94a7f16779"
            ]
        ]
    },
    {
        "id": "6a8ceefa2c465e49",
        "type": "debug",
        "z": "ab0855462a34e9f7",
        "name": "[EXIT 1] Update messages interval",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 316,
        "wires": []
    },
    {
        "id": "2f4ccb94a7f16779",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "ab0855462a34e9f7",
        "name": "",
        "env": [],
        "x": 640,
        "y": 338,
        "wires": [
            [
                "6a8ceefa2c465e49"
            ],
            [
                "229b8889e1725155"
            ]
        ]
    },
    {
        "id": "229b8889e1725155",
        "type": "debug",
        "z": "ab0855462a34e9f7",
        "name": "[EXIT 2] Update messages interval",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 359,
        "wires": []
    },
    {
        "id": "4ff75f3c05bca7a9",
        "type": "comment",
        "z": "ab0855462a34e9f7",
        "name": "########## Update messages interval",
        "info": "",
        "x": 190,
        "y": 256,
        "wires": []
    },
    {
        "id": "c511b518f93c3e1b",
        "type": "inject",
        "z": "a444632620451a72",
        "name": "Every 10 minutes",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "300",
        "topic": "",
        "payloadType": "str",
        "x": 155,
        "y": 138,
        "wires": [
            [
                "3fd79f0e07079834"
            ]
        ]
    },
    {
        "id": "3fd79f0e07079834",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get devices IDs",
        "func": "msg.payload = {\n    action: 'KEYS',\n    params: [{ values: '*' }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 138,
        "wires": [
            [
                "095ff5c00f3239e1"
            ]
        ]
    },
    {
        "id": "91256a108cc22c6f",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO KEYS",
        "links": [
            "4766e4737d4ab82a"
        ],
        "x": 335,
        "y": 375,
        "wires": []
    },
    {
        "id": "18fb4272c1434516",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "KEYS",
        "name": "KEYS",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 330,
        "y": 736,
        "wires": [
            [
                "fe2af213e574e51f"
            ]
        ]
    },
    {
        "id": "4766e4737d4ab82a",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN KEYS",
        "links": [
            "91256a108cc22c6f",
            "560829592f1ac023"
        ],
        "x": 55,
        "y": 736,
        "wires": [
            [
                "a8cb1707b0683a56"
            ]
        ]
    },
    {
        "id": "a8cb1707b0683a56",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nmsg.payload = [params.values];\n\nmsg.counter = counter+1;\nmsg.action = 4;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 736,
        "wires": [
            [
                "18fb4272c1434516"
            ]
        ]
    },
    {
        "id": "fe2af213e574e51f",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT KEYS",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 415,
        "y": 736,
        "wires": []
    },
    {
        "id": "560829592f1ac023",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO KEYS",
        "links": [
            "4766e4737d4ab82a"
        ],
        "x": 535,
        "y": 1016,
        "wires": []
    },
    {
        "id": "095ff5c00f3239e1",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 540,
        "y": 138,
        "wires": [
            [
                "71ef80badc40aa85"
            ],
            [
                "a3da3cba3e54ce24"
            ]
        ]
    },
    {
        "id": "a3da3cba3e54ce24",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 1] Generate failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 158,
        "wires": []
    },
    {
        "id": "981b5b1ac6b7ee16",
        "type": "comment",
        "z": "a444632620451a72",
        "name": "########## Generate failure in device",
        "info": "",
        "x": 190,
        "y": 55,
        "wires": []
    },
    {
        "id": "71ef80badc40aa85",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get devices IDs",
        "func": "msg.devices = msg.payload.map(device => device.result);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 116,
        "wires": [
            [
                "f9af6c3af3837488"
            ]
        ]
    },
    {
        "id": "971fd26a8e32f154",
        "type": "split",
        "z": "a444632620451a72",
        "name": "Split devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 316,
        "wires": [
            [
                "8d862c9dbd3b163b"
            ]
        ]
    },
    {
        "id": "f9af6c3af3837488",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (1) Generate failure in device",
        "links": [
            "37a0e4f6c8715a32"
        ],
        "x": 855,
        "y": 116,
        "wires": []
    },
    {
        "id": "37a0e4f6c8715a32",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (1) Generate failure in device",
        "links": [
            "f9af6c3af3837488"
        ],
        "x": 55,
        "y": 236,
        "wires": [
            [
                "a778e665bd2949fd"
            ]
        ]
    },
    {
        "id": "7a7cecf6415649cc",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Generate failure?",
        "func": "msg.device = { id: msg.payload };\n\nconst prob = 0.2;\n\nif (Math.random() <= prob) {\n    return [msg, null];\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 439,
        "wires": [
            [
                "e7104dda5ddd437c"
            ],
            [
                "12402bcf3498a48d"
            ]
        ]
    },
    {
        "id": "12402bcf3498a48d",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 2] Generate failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 461,
        "wires": []
    },
    {
        "id": "a62f5058a63cebde",
        "type": "catch",
        "z": "a444632620451a72",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 1836,
        "wires": [
            [
                "2c01993697609b0a"
            ]
        ]
    },
    {
        "id": "4934247d1cccd5de",
        "type": "comment",
        "z": "a444632620451a72",
        "name": "########## Exceptions Treatment",
        "info": "",
        "x": 179,
        "y": 1776,
        "wires": []
    },
    {
        "id": "2c01993697609b0a",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "Exception",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 1836,
        "wires": []
    },
    {
        "id": "ecf4fe2fa009ecce",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Set fails",
        "func": "const fails = msg.device.fails;\n\nconst measures = {\n    voltage:   null,\n    current:   null,\n    lightness: null,\n};\n\nfails.forEach(fail => {\n    measures.voltage   = fail.voltage   !== null ? fail.voltage   : measures.voltage;\n    measures.current   = fail.current   !== null ? fail.current   : measures.current;\n    measures.lightness = fail.lightness !== null ? fail.lightness : measures.lightness;\n});\n\nmsg.payload = measures;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 775,
        "wires": [
            [
                "32feb38f11d62b82"
            ]
        ]
    },
    {
        "id": "7a6044337ab2498c",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (6) Generate measures in fake devices",
        "links": [
            "0e78a4e7f8a4206c"
        ],
        "x": 335,
        "y": 818,
        "wires": []
    },
    {
        "id": "0e78a4e7f8a4206c",
        "type": "link in",
        "z": "d54052ea6cb4b184",
        "name": "IN (5) Generate measures in fake devices",
        "links": [
            "127715ede839bcb6",
            "7a6044337ab2498c"
        ],
        "x": 55,
        "y": 924,
        "wires": [
            [
                "a68e71c5e7e525b3",
                "d2e0b7fe107775ad"
            ]
        ]
    },
    {
        "id": "127715ede839bcb6",
        "type": "link out",
        "z": "d54052ea6cb4b184",
        "name": "OUT (5) Generate measures in fake devices",
        "links": [
            "0e78a4e7f8a4206c"
        ],
        "x": 715,
        "y": 755,
        "wires": []
    },
    {
        "id": "088c10a30b26ab40",
        "type": "switch",
        "z": "d54052ea6cb4b184",
        "name": "Send measures?",
        "property": "device.send",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 797,
        "wires": [
            [
                "ecf4fe2fa009ecce"
            ],
            [
                "7a6044337ab2498c"
            ]
        ]
    },
    {
        "id": "d093a4bff79842d4",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (2) Generate failure in device",
        "links": [
            "d4e1c79447dc0538"
        ],
        "x": 615,
        "y": 236,
        "wires": []
    },
    {
        "id": "d4e1c79447dc0538",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (2) Generate failure in device",
        "links": [
            "d093a4bff79842d4"
        ],
        "x": 55,
        "y": 316,
        "wires": [
            [
                "89fbf6eea17e5f39"
            ]
        ]
    },
    {
        "id": "e7104dda5ddd437c",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Choose failure",
        "func": "const min = 1;\nconst max = msg.fails.length;\n\nconst fail = Math.round(Math.random() * (max - min) + min);\n\nmsg.device.newFail = msg.fails[fail-1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 417,
        "wires": [
            [
                "2f9644df4b68cab1"
            ]
        ]
    },
    {
        "id": "2f9644df4b68cab1",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get current device state",
        "func": "msg.payload = { \n    action: 'JSON.GET', \n    params: [{ key: msg.device.id }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 417,
        "wires": [
            [
                "eac170b6a0c6b125"
            ]
        ]
    },
    {
        "id": "eac170b6a0c6b125",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "x": 820,
        "y": 417,
        "wires": [
            [
                "f6902715b06a9c78"
            ],
            [
                "45e44f20ab03c222"
            ]
        ]
    },
    {
        "id": "45e44f20ab03c222",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 3] Generate failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 438,
        "wires": []
    },
    {
        "id": "87a3e10226bfe54a",
        "type": "function",
        "z": "a444632620451a72",
        "name": " Failure validation",
        "func": "const fails = msg.fails;\nconst device = msg.device;\n\nmsg.payload = msg.check1(device.fails, device.newFail.id)\n        && msg.check2(device.fails, device.newFail)\n        && msg.check3(device.fails, device.newFail.id)\n        && msg.check4(device.send, device.newFail.send)\n        && msg.check5(device.rele_state, device.newFail.rele_state);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 557,
        "wires": [
            [
                "54338d699151f3ab"
            ]
        ]
    },
    {
        "id": "54338d699151f3ab",
        "type": "switch",
        "z": "a444632620451a72",
        "name": "Insert failure in device?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 557,
        "wires": [
            [
                "f9dbcc9866faec1e"
            ],
            [
                "7b5abb2dfa21d6da"
            ]
        ]
    },
    {
        "id": "8d862c9dbd3b163b",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (3) Generate failure in device",
        "links": [
            "c884efe4ea3bd549"
        ],
        "x": 435,
        "y": 316,
        "wires": []
    },
    {
        "id": "7b5abb2dfa21d6da",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 4] Generate failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 578,
        "wires": []
    },
    {
        "id": "c884efe4ea3bd549",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (3) Generate failure in device",
        "links": [
            "8d862c9dbd3b163b"
        ],
        "x": 55,
        "y": 439,
        "wires": [
            [
                "7a7cecf6415649cc"
            ]
        ]
    },
    {
        "id": "520a784bb92b71f7",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Set 'send' parameter",
        "func": "const send = msg.device.newFail.send !== null ? msg.device.newFail.send : msg.device.send;\n\nmsg.payload = {\n    action: 'JSON.UPDATE',\n    params: [{ \n        key: msg.device.id, \n        values: { attr: 'send', value: send } \n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 718,
        "wires": [
            [
                "26a2ccdfee1a2e78"
            ]
        ]
    },
    {
        "id": "26a2ccdfee1a2e78",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 400,
        "y": 718,
        "wires": [
            [
                "34eea68515279a3f"
            ],
            [
                "20b6659c04227272"
            ]
        ]
    },
    {
        "id": "20b6659c04227272",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 5] Generate failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "aef75640dfc58609",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Insert failure in device",
        "func": "msg.payload = {\n    action: 'JSON.ARRAPPEND',\n    params: [\n        { \n            key: msg.device.id, \n            values: { array: 'fails', value: msg.device.newFail.id } \n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 676,
        "wires": [
            [
                "e559347aeea539ab"
            ]
        ]
    },
    {
        "id": "e559347aeea539ab",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "x": 1260,
        "y": 676,
        "wires": [
            [
                "1fb2a3e793a8f8aa"
            ],
            [
                "549575ce4a75236d"
            ]
        ]
    },
    {
        "id": "549575ce4a75236d",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 8] Generate failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 697,
        "wires": []
    },
    {
        "id": "1fb2a3e793a8f8aa",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 7] Generate failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 655,
        "wires": []
    },
    {
        "id": "67b41fa2bf4d76bc",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT (1) Begin",
        "links": [
            "7dd90b75f23df424"
        ],
        "x": 1035,
        "y": 173,
        "wires": []
    },
    {
        "id": "470e03096c22a255",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.ARRAPPEND",
        "links": [
            "44311aec488997d1"
        ],
        "x": 335,
        "y": 415,
        "wires": []
    },
    {
        "id": "7dd90b75f23df424",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN (1) Begin",
        "links": [
            "67b41fa2bf4d76bc"
        ],
        "x": 55,
        "y": 355,
        "wires": [
            [
                "70d4f99473093739"
            ]
        ]
    },
    {
        "id": "cfcd806421fa3d3e",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "JSON.ARRAPPEND",
        "name": "JSON.ARRAPPEND",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 380,
        "y": 776,
        "wires": [
            [
                "42c060b70aeae32d"
            ]
        ]
    },
    {
        "id": "5ba5be911a160c86",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nconst key = params.key;\nconst array = params.values.array;\nconst value = params.values.value;\n\nmsg.payload = [key, array, value];\n\nmsg.counter = counter+1;\nmsg.action = 5;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 776,
        "wires": [
            [
                "cfcd806421fa3d3e"
            ]
        ]
    },
    {
        "id": "44311aec488997d1",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN JSON.ARRAPPEND",
        "links": [
            "16f13f2b46c404e0",
            "470e03096c22a255"
        ],
        "x": 55,
        "y": 776,
        "wires": [
            [
                "5ba5be911a160c86"
            ]
        ]
    },
    {
        "id": "42c060b70aeae32d",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT JSON.ARRAPPEND",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 515,
        "y": 776,
        "wires": []
    },
    {
        "id": "16f13f2b46c404e0",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.ARRAPPEND",
        "links": [
            "44311aec488997d1"
        ],
        "x": 535,
        "y": 1056,
        "wires": []
    },
    {
        "id": "c2e3c6f6fa765b86",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 840,
        "y": 697,
        "wires": [
            [
                "aef75640dfc58609"
            ],
            [
                "6beb569b41b92041"
            ]
        ]
    },
    {
        "id": "6beb569b41b92041",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 6] Generate failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 719,
        "wires": []
    },
    {
        "id": "34eea68515279a3f",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Set 'rele_state' parameter",
        "func": "const rele_state = msg.device.newFail.rele_state !== null ? msg.device.newFail.rele_state.value : msg.device.rele_state;\n\nmsg.payload = {\n    action: 'JSON.UPDATE',\n    params: [{ \n        key: msg.device.id, \n        values: { attr: 'rele_state', value: rele_state } \n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 697,
        "wires": [
            [
                "c2e3c6f6fa765b86"
            ]
        ]
    },
    {
        "id": "5b22e72d87cd07f0",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Define check functions",
        "func": "// Fail is already in device?\nfunction check1 (deviceFails, id) { \n    return !deviceFails.find(fail => fail.id === id);\n}\n\n// Has fails that prevent the new fail to being included?\nfunction check2 (deviceFails, fail) {\n    return !fail.look_for.some(id => !!deviceFails.find(fail => fail.id === id));\n}\n\n// The new fail prevents any fail already present in the device?\nfunction check3 (deviceFails, id) {\n    return !deviceFails.some(fail => fail.look_for.includes(id));\n}\n\n// Change send state only in case of difference between current value and new value\nfunction check4 (device, fail) {\n    return fail === null || fail !== device;\n}\n\n// Time restriction to change rele state\nfunction check5 (device, fail) {\n    if (fail !== null && fail.threshold !== undefined) {\n        const currentDate = new Date();\n        const currentTime = currentDate.getHours() * 3600 + currentDate.getMinutes() * 60 + currentDate.getSeconds(); // In seconds\n        \n        const begin = fail.threshold.begin;\n        const end = fail.threshold.end;\n        \n        if (begin < end) {\n            return currentTime >= begin && currentTime < end;\n        } else {\n            return currentTime >= begin || currentTime < end;\n        }\n    }\n    \n    return true;\n}\n\nmsg.check1 = check1;\nmsg.check2 = check2;\nmsg.check3 = check3;\nmsg.check4 = check4;\nmsg.check5 = check5;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 557,
        "wires": [
            [
                "87a3e10226bfe54a"
            ]
        ]
    },
    {
        "id": "89fbf6eea17e5f39",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Prepare split",
        "func": "msg.payload = msg.devices;\n\ndelete msg.devices;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 316,
        "wires": [
            [
                "971fd26a8e32f154"
            ]
        ]
    },
    {
        "id": "f1221f114e8cd98d",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (4) Generate failure in device",
        "links": [
            "e9ac6150d880f952"
        ],
        "x": 1115,
        "y": 395,
        "wires": []
    },
    {
        "id": "e9ac6150d880f952",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (4) Generate failure in device",
        "links": [
            "f1221f114e8cd98d"
        ],
        "x": 55,
        "y": 557,
        "wires": [
            [
                "5b22e72d87cd07f0"
            ]
        ]
    },
    {
        "id": "f6902715b06a9c78",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Parse result",
        "func": "msg.device.send = msg.payload[0].result.send;\nmsg.device.rele_state = msg.payload[0].result.rele_state;\nmsg.device.fails = msg.payload[0].result.fails.map(id => msg.fails.find(fail => fail.id === id));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 395,
        "wires": [
            [
                "f1221f114e8cd98d"
            ]
        ]
    },
    {
        "id": "f9dbcc9866faec1e",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (5) Generate failure in device",
        "links": [
            "83340fac10fec50c"
        ],
        "x": 795,
        "y": 535,
        "wires": []
    },
    {
        "id": "83340fac10fec50c",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (5) Generate failure in device",
        "links": [
            "f9dbcc9866faec1e"
        ],
        "x": 55,
        "y": 718,
        "wires": [
            [
                "520a784bb92b71f7"
            ]
        ]
    },
    {
        "id": "ad0e592377bf1625",
        "type": "comment",
        "z": "a444632620451a72",
        "name": "########## Resolve failure in device",
        "info": "",
        "x": 190,
        "y": 836,
        "wires": []
    },
    {
        "id": "68d11ddc3ff9a774",
        "type": "inject",
        "z": "a444632620451a72",
        "name": "Every 10 minutes",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "600",
        "topic": "",
        "payloadType": "str",
        "x": 155,
        "y": 918,
        "wires": [
            [
                "3ea9de273fb291ee"
            ]
        ]
    },
    {
        "id": "3ea9de273fb291ee",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get devices IDs",
        "func": "msg.payload = {\n    action: 'KEYS',\n    params: [{ values: '*' }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 918,
        "wires": [
            [
                "761b3eb33227cfbc"
            ]
        ]
    },
    {
        "id": "761b3eb33227cfbc",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 540,
        "y": 918,
        "wires": [
            [
                "0ff8b92dd5a0feb8"
            ],
            [
                "4360d8bf844ff3e2"
            ]
        ]
    },
    {
        "id": "4360d8bf844ff3e2",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 1] Resolve failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 938,
        "wires": []
    },
    {
        "id": "0ff8b92dd5a0feb8",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get devices IDs",
        "func": "msg.devices = msg.payload.map(device => device.result);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 896,
        "wires": [
            [
                "e3ea55445ac2fc83"
            ]
        ]
    },
    {
        "id": "27df65f2033ce3fc",
        "type": "split",
        "z": "a444632620451a72",
        "name": "Split devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 1096,
        "wires": [
            [
                "a7e5404f55a3152a"
            ]
        ]
    },
    {
        "id": "e3ea55445ac2fc83",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (1) Resolve failure in device",
        "links": [
            "2919c4416e7720f2"
        ],
        "x": 855,
        "y": 896,
        "wires": []
    },
    {
        "id": "2919c4416e7720f2",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (1) Resolve failure in device",
        "links": [
            "e3ea55445ac2fc83"
        ],
        "x": 55,
        "y": 1016,
        "wires": [
            [
                "399091d5a893b91e"
            ]
        ]
    },
    {
        "id": "1bd9a71efaab9152",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Resolve failure?",
        "func": "msg.device = { id: msg.payload };\n\nconst prob = 0.1;\n\nif (Math.random() <= prob) {\n    return [msg, null];\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1219,
        "wires": [
            [
                "3d368fbadd676489"
            ],
            [
                "81e8ff7c948cf85c"
            ]
        ]
    },
    {
        "id": "81e8ff7c948cf85c",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 2] Resolve failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1241,
        "wires": []
    },
    {
        "id": "3cbbde7d4ed6a5c4",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (2) Resolve failure in device",
        "links": [
            "4c73ae75d9d49cfa"
        ],
        "x": 615,
        "y": 1016,
        "wires": []
    },
    {
        "id": "4c73ae75d9d49cfa",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (2) Resolve failure in device",
        "links": [
            "3cbbde7d4ed6a5c4"
        ],
        "x": 55,
        "y": 1096,
        "wires": [
            [
                "843378203746e4e7"
            ]
        ]
    },
    {
        "id": "3d368fbadd676489",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get current device state",
        "func": "msg.payload = { \n    action: 'JSON.GET', \n    params: [{ key: msg.device.id }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1197,
        "wires": [
            [
                "a19a044969f26b6a"
            ]
        ]
    },
    {
        "id": "a19a044969f26b6a",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "x": 620,
        "y": 1197,
        "wires": [
            [
                "6220dd177ef680f2"
            ],
            [
                "59c9810f9dcb541c"
            ]
        ]
    },
    {
        "id": "59c9810f9dcb541c",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 3] Resolve failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1218,
        "wires": []
    },
    {
        "id": "a7e5404f55a3152a",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (3) Resolve failure in device",
        "links": [
            "71bce05e73b1afab"
        ],
        "x": 435,
        "y": 1096,
        "wires": []
    },
    {
        "id": "71bce05e73b1afab",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (3) Resolve failure in device",
        "links": [
            "a7e5404f55a3152a"
        ],
        "x": 55,
        "y": 1219,
        "wires": [
            [
                "1bd9a71efaab9152"
            ]
        ]
    },
    {
        "id": "843378203746e4e7",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Prepare split",
        "func": "msg.payload = msg.devices;\n\ndelete msg.devices;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1096,
        "wires": [
            [
                "27df65f2033ce3fc"
            ]
        ]
    },
    {
        "id": "6b7f9cbe7015a05b",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (4) Resolve failure in device",
        "links": [
            "5e53aa8e493ca9a0"
        ],
        "x": 915,
        "y": 1175,
        "wires": []
    },
    {
        "id": "6220dd177ef680f2",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Parse result",
        "func": "msg.device.send = msg.payload[0].result.send;\nmsg.device.rele_state = msg.payload[0].result.rele_state;\nmsg.device.fails = msg.payload[0].result.fails.map(id => msg.fails.find(fail => fail.id === id));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1175,
        "wires": [
            [
                "6b7f9cbe7015a05b"
            ]
        ]
    },
    {
        "id": "5e53aa8e493ca9a0",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (4) Resolve failure in device",
        "links": [
            "6b7f9cbe7015a05b"
        ],
        "x": 55,
        "y": 1336,
        "wires": [
            [
                "3e04c383d2e32ef1"
            ]
        ]
    },
    {
        "id": "c6df661f4363dfa0",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Choose failure",
        "func": "const min = 0;\nconst max = msg.device.fails.length-1;\n\nconst index = Math.round(Math.random() * (max - min) + min);\n\nmsg.failIndex = index;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1478,
        "wires": [
            [
                "43da2d43d3c5fd30"
            ]
        ]
    },
    {
        "id": "43da2d43d3c5fd30",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Set 'send' parameter",
        "func": "const index = msg.failIndex;\nconst fail = msg.device.fails[index];\nconst send = fail.send !== null ? !fail.send : msg.device.send;\n\nmsg.payload = {\n    action: 'JSON.UPDATE',\n    params: [{ \n        key: msg.device.id, \n        values: { attr: 'send', value: send } \n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1478,
        "wires": [
            [
                "a32a13bec6095b76"
            ]
        ]
    },
    {
        "id": "a32a13bec6095b76",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 580,
        "y": 1478,
        "wires": [
            [
                "8924058f7506c303"
            ],
            [
                "86046b86ece277a6"
            ]
        ]
    },
    {
        "id": "86046b86ece277a6",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 5] Resolve failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b179fce68ca4da9a",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Remove failure from device",
        "func": "msg.payload = {\n    action: 'JSON.ARRPOP',\n    params: [\n        { \n            key: msg.device.id, \n            values: {\n                array: 'fails',\n                index: msg.failIndex \n            } \n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1597,
        "wires": [
            [
                "14c1c78a85117c59"
            ]
        ]
    },
    {
        "id": "14c1c78a85117c59",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 440,
        "y": 1597,
        "wires": [
            [
                "366e43a4df13f0c2"
            ],
            [
                "0c3cfbc82c847eeb"
            ]
        ]
    },
    {
        "id": "cc5240104f6855c4",
        "type": "subflow:185bd0a8b5a4b916",
        "z": "a444632620451a72",
        "name": "",
        "env": [],
        "x": 1020,
        "y": 1457,
        "wires": [
            [
                "e602a4d5f4e565c3"
            ],
            [
                "2fc3a67c57924f63"
            ]
        ]
    },
    {
        "id": "2fc3a67c57924f63",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 6] Resolve failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1479,
        "wires": []
    },
    {
        "id": "8924058f7506c303",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Set 'rele_state' parameter",
        "func": "const index = msg.failIndex;\nconst fail = msg.device.fails[index];\nconst rele_state = fail.rele_state !== null ? !fail.rele_state.value : msg.device.rele_state;\n\nmsg.payload = {\n    action: 'JSON.UPDATE',\n    params: [{ \n        key: msg.device.id, \n        values: { attr: 'rele_state', value: rele_state }\n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1457,
        "wires": [
            [
                "cc5240104f6855c4"
            ]
        ]
    },
    {
        "id": "366e43a4df13f0c2",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 7] Resolve failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1576,
        "wires": []
    },
    {
        "id": "0c3cfbc82c847eeb",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 8] Resolve failure in device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1618,
        "wires": []
    },
    {
        "id": "46fc5037ae699927",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (5) Resolve failure in device",
        "links": [
            "cbac3b1165620c30"
        ],
        "x": 335,
        "y": 1315,
        "wires": []
    },
    {
        "id": "cbac3b1165620c30",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (5) Resolve failure in device",
        "links": [
            "46fc5037ae699927"
        ],
        "x": 55,
        "y": 1478,
        "wires": [
            [
                "c6df661f4363dfa0"
            ]
        ]
    },
    {
        "id": "e702a62e3341bf9a",
        "type": "redis-command",
        "z": "185bd0a8b5a4b916",
        "server": "a7cb2a42ddfd0d99",
        "command": "JSON.ARRPOP",
        "name": "JSON.ARRPOP",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 360,
        "y": 816,
        "wires": [
            [
                "ea7cfcf3d063512b"
            ]
        ]
    },
    {
        "id": "5b8fb422e2151359",
        "type": "function",
        "z": "185bd0a8b5a4b916",
        "name": "Prepare query",
        "func": "const counter = msg.counter;\nconst params = msg.query.params[counter];\n\nconst key = params.key;\nconst array = params.values.array;\nconst index = params.values.index;\n\nif (index !== undefined) {\n    msg.payload = [key, array, index];\n} else {\n    msg.payload = [key, array];\n}\n\nmsg.counter = counter+1;\nmsg.action = 6;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 816,
        "wires": [
            [
                "e702a62e3341bf9a"
            ]
        ]
    },
    {
        "id": "6843c5c9bf74c0c2",
        "type": "link in",
        "z": "185bd0a8b5a4b916",
        "name": "IN JSON.ARRPOP",
        "links": [
            "016be0caa78e3d3d",
            "d147bd3a65c12089"
        ],
        "x": 55,
        "y": 816,
        "wires": [
            [
                "5b8fb422e2151359"
            ]
        ]
    },
    {
        "id": "ea7cfcf3d063512b",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "OUT JSON.ARRPOP",
        "links": [
            "0aad452318b271e8"
        ],
        "x": 475,
        "y": 816,
        "wires": []
    },
    {
        "id": "016be0caa78e3d3d",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.ARRPOP",
        "links": [
            "6843c5c9bf74c0c2"
        ],
        "x": 335,
        "y": 455,
        "wires": []
    },
    {
        "id": "d147bd3a65c12089",
        "type": "link out",
        "z": "185bd0a8b5a4b916",
        "name": "TO JSON.ARRPOP",
        "links": [
            "6843c5c9bf74c0c2"
        ],
        "x": 535,
        "y": 1096,
        "wires": []
    },
    {
        "id": "3e04c383d2e32ef1",
        "type": "switch",
        "z": "a444632620451a72",
        "name": "Has fails in device?",
        "property": "device.fails.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 1336,
        "wires": [
            [
                "46fc5037ae699927"
            ],
            [
                "f90bb6e801227cce"
            ]
        ]
    },
    {
        "id": "f90bb6e801227cce",
        "type": "debug",
        "z": "a444632620451a72",
        "name": "[EXIT 4] Resolve failure in device",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1358,
        "wires": []
    },
    {
        "id": "e602a4d5f4e565c3",
        "type": "link out",
        "z": "a444632620451a72",
        "name": "OUT (6) Resolve failure in device",
        "links": [
            "f477464ff4e972e7"
        ],
        "x": 1155,
        "y": 1435,
        "wires": []
    },
    {
        "id": "f477464ff4e972e7",
        "type": "link in",
        "z": "a444632620451a72",
        "name": "IN (6) Resolve failure in device",
        "links": [
            "e602a4d5f4e565c3"
        ],
        "x": 55,
        "y": 1597,
        "wires": [
            [
                "b179fce68ca4da9a"
            ]
        ]
    },
    {
        "id": "2dc46f9c24f9eb35",
        "type": "function",
        "z": "bab6ffe5b7ae3a28",
        "name": "Set Query",
        "func": "msg.query = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "bb3a8d2b7854dccb"
            ]
        ]
    },
    {
        "id": "dcf9a148a61be9fc",
        "type": "function",
        "z": "bab6ffe5b7ae3a28",
        "name": "Get Query Response",
        "func": "const query_response = msg.payload.rows;\n\ndelete msg.query;\n\nmsg.payload = query_response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bb3a8d2b7854dccb",
        "type": "mydb",
        "z": "bab6ffe5b7ae3a28",
        "name": "Execute Query",
        "style": "mustache",
        "substEnvVars": false,
        "query": "{{{ msg.query }}};",
        "mydbConfig": "21c629e3be9268f3",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "dcf9a148a61be9fc"
            ]
        ]
    },
    {
        "id": "a778e665bd2949fd",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get failures rules",
        "func": "msg.payload = 'SELECT * FROM ALARMS_LIST';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 236,
        "wires": [
            [
                "7bce9583437a84ac"
            ]
        ]
    },
    {
        "id": "7bce9583437a84ac",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "a444632620451a72",
        "name": "",
        "x": 360,
        "y": 236,
        "wires": [
            [
                "93b5025afe6c3209"
            ]
        ]
    },
    {
        "id": "93b5025afe6c3209",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Parse result",
        "func": "let failures = msg.payload;\n\nfailures = failures.map(failure => {\n    if (failure.rele_state !== null) {\n        const state = {};\n        \n        state.value = failure.rele_state;\n        state.threshold = { begin: failure.interval_begin , end: failure.interval_end };\n        \n        failure.rele_state = state;\n    }\n    \n    if (failure.look_for !== null) {\n        failure.look_for = failure.look_for.split(',').map(id => parseInt(id));\n    } else {\n        failure.look_for = [];\n    }\n    \n    delete failure.interval_begin;\n    delete failure.interval_end;\n    \n    return failure;\n});\n\nmsg.fails = failures;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 236,
        "wires": [
            [
                "d093a4bff79842d4"
            ]
        ]
    },
    {
        "id": "399091d5a893b91e",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Get failures rules",
        "func": "msg.payload = 'SELECT * FROM ALARMS_LIST';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1016,
        "wires": [
            [
                "4bfc8c22d180d172"
            ]
        ]
    },
    {
        "id": "4bfc8c22d180d172",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "a444632620451a72",
        "name": "",
        "x": 360,
        "y": 1016,
        "wires": [
            [
                "d0a1b465381f754a"
            ]
        ]
    },
    {
        "id": "d0a1b465381f754a",
        "type": "function",
        "z": "a444632620451a72",
        "name": "Parse result",
        "func": "let failures = msg.payload;\n\nfailures = failures.map(failure => {\n    if (failure.rele_state !== null) {\n        const state = {};\n        \n        state.value = failure.rele_state;\n        state.threshold = { begin: failure.interval_begin , end: failure.interval_end };\n        \n        failure.rele_state = state;\n    }\n    \n    if (failure.look_for !== null) {\n        failure.look_for = failure.look_for.split(',').map(id => parseInt(id));\n    } else {\n        failure.look_for = [];\n    }\n    \n    delete failure.interval_begin;\n    delete failure.interval_end;\n    \n    return failure;\n});\n\nmsg.fails = failures;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1016,
        "wires": [
            [
                "3cbbde7d4ed6a5c4"
            ]
        ]
    },
    {
        "id": "a76b1c7e5bbe3efd",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Get failures rules",
        "func": "msg.payload = 'SELECT * FROM ALARMS_LIST';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 636,
        "wires": [
            [
                "5cdfa1870f081180"
            ]
        ]
    },
    {
        "id": "5cdfa1870f081180",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "d54052ea6cb4b184",
        "name": "",
        "x": 600,
        "y": 636,
        "wires": [
            [
                "78d51c31c923af80"
            ]
        ]
    },
    {
        "id": "78d51c31c923af80",
        "type": "function",
        "z": "d54052ea6cb4b184",
        "name": "Parse result",
        "func": "let failures = msg.payload;\n\nfailures = failures.map(failure => {\n    if (failure.rele_state !== null) {\n        const state = {};\n        \n        state.value = failure.rele_state;\n        state.threshold = { begin: failure.interval_begin , end: failure.interval_end };\n        \n        failure.rele_state = state;\n    }\n    \n    if (failure.look_for !== null) {\n        failure.look_for = failure.look_for.split(',').map(id => parseInt(id));\n    } else {\n        failure.look_for = [];\n    }\n    \n    delete failure.interval_begin;\n    delete failure.interval_end;\n    \n    return failure;\n});\n\nmsg.payload = failures;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 636,
        "wires": [
            [
                "b3c4bb4261150dd8"
            ]
        ]
    },
    {
        "id": "ebb7cbc54a3257fb",
        "type": "subflow:bab6ffe5b7ae3a28",
        "z": "d54052ea6cb4b184",
        "name": "",
        "x": 620,
        "y": 138,
        "wires": [
            [
                "cc421e3896e3a98f"
            ]
        ]
    }
]